<div class="axiobat-modal">
    <!-- <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
        [infiniteScrollContainer]="'.axiobat-modal'" [fromRoot]="true" (scrolled)="onScroll()">
        <div class="container-scroll"> -->


    <div class="root">
        <div class="head">

            <div class="left">
                <div class="title">
                    {{ getmodelName() }}
                </div>
            </div>

            <div class="right" *ngIf="type!=formType.preview">
                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                    <span>{{ 'labels.btnCancel' | translate }}</span>
                </div>

                <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                    <span>Valider</span>
                </div>
            </div>

            <div class="close" (click)="close()">
                <img src="./assets/app/images/Icons/x.svg" alt="Close button">
            </div>
        </div>

        <div class="body">

            <form [formGroup]="form">
                <!-- Name -->
                <div class="row">
                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'labels.nom' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                                        formControlName="lotName" [readOnly]="type==formType.preview">

                                </label>
                            </div>
                            <small class="text-danger" *ngIf="f?.lotName?.hasError('CheckUniqueName')">{{'errors.unique'
                                | translate }}</small>
                            <small class="text-danger" *ngIf="f?.lotName?.errors?.required">{{'errors.required' |
                                        translate }}</small>
                            <small class="text-danger" *ngIf="form.hasError('minlength', 'lotName')">
                                {{'errors.minLength'|translate:{ number:3} }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Comment -->
                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'labels.description' | translate }} :</div>
                            <div class="cust-input cust-input--textarea">
                                <label class="cust-input__wrapper">
                                    <textarea matInput class="cust-input__input" id="add-commentaire-chantier-form-btn"
                                        rows="5" formControlName="description"
                                        [placeholder]="'Entrez votre description'"
                                        [readOnly]="type==formType.preview"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="head">

                    <div class="left">
                        <div class="title">
                            {{'LABELS.listeproduits' | translate}}
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="data.type !== formType.preview">
                    <div class="col">
                        <div class="cust-input cust-input--search">
                            <label class="cust-input__wrapper">
                                <div class="cust-input__icon">
                                    <img src="./assets/app/images/Icons/search.svg" alt="Search icon">
                                </div>
                                <input class="cust-input__input" type="text" [placeholder]="'LABELS.SEARCH' | translate"
                                    [(ngModel)]="search" [ngModelOptions]="{standalone: true}" (keyup)="searche()">
                            </label>
                        </div>
                    </div>

                </div>
                <div class="container-scroll">
                    <div style="max-height: 260px" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
                        [infiniteScrollContainer]="'.container-scroll'" [fromRoot]="true" (scrolled)="onScroll()">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <!-- <div class="display-table__body">
                    <table class="table table-bordered"> -->
                                <thead>
                                    <tr *ngIf="type!=formType.preview">
                                        <th> </th>

                                        <th>
                                            <div class="th-wrapper">
                                                <span>{{ 'labels.reference' | translate }}</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th-wrapper">
                                                <span>Prix TTC</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th-wrapper">
                                                <span>Quantité</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let produit of produitsSelectionneeProvisoirement;let index = index">
                                        <td *ngIf="type != formType.preview">
                                            <div class="custom-control custom-checkbox">
                                                <input id="lot-info-checkArticle-input" type="checkbox"
                                                    class="custom-control-input" name="customCheck"
                                                    id="chechboxTmp{{ index+100 }}" (click)="removeProduit(index)"
                                                    [checked]="checkProduitIsSelectedOrNot(produit?.id)">
                                                <label class="custom-control-label"
                                                    for="chechboxTmp{{ index+100 }}"></label>
                                            </div>
                                        </td>
                                        <td>{{ produit?.reference }} -
                                            {{ produit?.designation === '' ? produit?.name : produit?.designation }}
                                        </td>
                                        <td class="display-price">{{prixTtc(produit) | RoudingNumber | ShowCurrency }}
                                        </td>
                                        <td>
                                            <div class="btn-group col-sm-4" *ngIf="type != formType.preview">
                                                <button type="button" id="{{i+1000*24}}" class="btn btn-primary btn-md"
                                                    (click)="changetQte(index, -1)"><i class="ft-minus"></i></button>
                                                <input id="lot-info-qteArticle-input" type="number"
                                                    appInputRemoveDefaultZero id="{{i+1000*25}}"
                                                    style="text-align: center" min="0" [value]="produit.qte"
                                                    (input)="changetQte(index,$event.target.value,true)" />
                                                <button type="button" id="{{i+1000*26}}" class="btn btn-primary btn-md"
                                                    (click)="changetQte(index,1)"><i class="ft-plus"></i></button>
                                            </div>
                                            <ng-container *ngIf="type == formType.preview">
                                                {{ produit?.qte }}
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <ng-container *ngIf="type!=formType.preview">
                                        <tr *ngFor="let produit of produits;let index = index">

                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="lot-info-checkArticle-input" type="checkbox"
                                                        class="custom-control-input" name="customCheck"
                                                        id="chechbox{{ index+100 }}" (change)="addProduit(index,1)"
                                                        [checked]="checkProduitIsSelectedOrNot(produit?.id)">
                                                    <label class="custom-control-label"
                                                        for="chechbox{{ index+100 }}"></label>
                                                </div>
                                            </td>
                                            <td>{{ produit?.reference }} -
                                                {{ produit?.designation === '' ? produit?.name : produit?.designation }}
                                            </td>
                                            <!-- <td>{{ produit?.designation }}</td> -->
                                            <td class="display-price">
                                                {{prixTtc(produit) | RoudingNumber | ShowCurrency }}
                                            </td>
                                            <td>
                                                <div class="btn-group col-md-4">
                                                    <button type="button" id="{{i+1000*24}}"
                                                        class="btn btn-primary btn-md"><i class="ft-minus"></i></button>
                                                    <input id="lot-info-qteArticle-input" type="number"
                                                        appInputRemoveDefaultZero id="{{i+1000*25}}"
                                                        style="text-align: center" min="0" value="0"
                                                        (input)="addProduit(index,$event.target.value)" />
                                                    <button type="button" id="{{i+1000*26}}"
                                                        class="btn btn-primary btn-md" (click)="addProduit(index,1)"><i
                                                            class="ft-plus"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>
    <!-- </div>
    </div> -->
</div>