<div class="axiobat-modal">
    <div class="root">

        <!-- #region Head -->
        <div class="head">

            <div class="left">
                <div class="title"> Ajouter adresse intervention </div>
            </div>

            <div class="right">
                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                    <span>{{ 'labels.btnCancel' | translate }}</span>
                </div>

                <div id="valider" class="cust-button cust-button--success" (click)="save()">
                    <span>Valider</span>
                </div>
            </div>

            <div class="close" (click)="close()">
                <img src="./assets/app/images/Icons/x.svg" alt="Close button">
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Body -->
        <div class="body">
            <form [formGroup]="form">

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.DESIGNATION' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-designation-form-btn" type="text"
                                        formControlName="designation">
                                </label>
                            </div>
                            <small class="text-danger" *ngIf="f?.designation?.errors?.required">
                                {{'errors.required' | translate}}
                            </small>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.ADRESSE' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-street-form-btn" type="text"
                                        formControlName="street">
                                </label>
                            </div>
                            <small class="text-danger" *ngIf="f?.street?.errors?.required">
                                {{'errors.required' | translate}}
                            </small>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.complementAdresse' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-complement-form-btn" type="text"
                                        formControlName="complement">
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.City' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-city-form-btn" type="text"
                                        formControlName="city">
                                </label>
                            </div>
                            <small class="text-danger" *ngIf="f?.city?.errors?.required">
                                {{'errors.required' | translate}}
                            </small>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.codePostal' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-postalCode-form-btn" type="text"
                                        formControlName="postalCode">
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.departement' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-departement-form-btn" type="text"
                                        formControlName="department">
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="cust-label">{{ 'LABELS.pays' | translate }} :</div>
                            <div class="cust-input">
                                <label class="cust-input__wrapper">
                                    <input class="cust-input__input" id="add-countryCode-form-btn" type="text"
                                        formControlName="countryCode">
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="cust-input-group">
                            <div class="container form-check-inline">
                                <mat-checkbox [checked]="default" (click)="checkDefault($event)">
                                    {{ 'labels.defaultAddress' | translate }}
                                </mat-checkbox>
                             
                            </div>
                        </div>

                    </div>
                </div>


            </form>
        </div>
        <!-- #endregion -->
    </div>
</div>