<recherche-avancee>
  <div class="recherche-avancee-body">

    <div class="ui-g ui-fluid" *ngIf="dateLang">
      <div class="ui-g-4 ui-md-4">
        <h6 style="font-weight: bold">{{'list.technicien' | translate }}</h6>

        <ng-select style=" max-width: 500px !important;" placeholder="{{'list.technicien' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [items]="filterlistTechnicien" bindLabel="name"
          bindValue="id" [multiple]="true" [(ngModel)]="idTechnicien" (click)="getTechniciens()" #selecteTechniciens>
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.client' | translate }}</h6>
        <ng-select [hideSelected]="true" placeholder="{{'list.client' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idClient" (click)="getClients()"
          #selecteClients [multiple]="true" [items]="filterlistClient" bindLabel="name" bindValue="id">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.groupe' | translate }}</h6>
        <ng-select [hideSelected]="true" placeholder="{{'list.groupe' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idGroupe" (click)="getGroupes()"
          #selecteGroupes [multiple]="true" [items]="filterlistGroupe" bindLabel="name" bindValue="id">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
        [(ngModel)]="periode">
        <ng-option [value]="PeriodType.CurrentMonth">{{ 'labels.moisCourant' | translate }}</ng-option>
        <ng-option [value]="PeriodType.LastThreeMonths">{{ 'labels.troisMois' | translate }}</ng-option>
        <ng-option [value]="PeriodType.LastSixMonths">{{ 'labels.sixMois' | translate }}</ng-option>
        <ng-option [value]="PeriodType.CurrentYear">{{ 'labels.anneeCourant' | translate }}</ng-option>
        <ng-option [value]="PeriodType.LastYear">{{ 'labels.anneeDerniere' | translate }}</ng-option>
        <ng-option [value]="PeriodType.CurrentAccountingPeriod">
          {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
        <ng-option [value]="PeriodType.None">{{ 'labels.tous' | translate }} </ng-option>
        <ng-option [value]="PeriodType.Interval">{{ 'labels.intervalle' | translate }}</ng-option>
      </ng-select>
      </div>

      <ng-container *ngIf="periode == PeriodType.Interval">
        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>

<div class="row  mt-5">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">

      <div class="column">
        <div class="box notification  is-primary color-nbrchantier">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-nbrchantier icon-blue-color ">
                <i class="fa fa-folder-open-o"></i>
              </div>
              <div class="heading top mb-4" style="font-size :17px;">
                {{'labels.nbrcontrat' | translate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-left">

              <!-- display-price -->
              <div class="title " style="padding-left: 68px;">
                {{nbrContratParStatut}}
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="level">
                <div class="level-item text-right">

                  <div>
                    <div class=" heading text-body" style="font-size :12px">{{'labels.activee' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">
                        {{nbrContratActive}}</span></div>
                  </div>

                  <div>
                    <div class="heading text-body" style="font-size :12px">

                      {{'labels.terminee' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">{{nbrContratTermine}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">
      <div class="column">
        <div class="box notification  is-primary color-chaiffre">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-chaiffre icon-green-color ">
                <i class="fa fa-calendar-check-o"></i>
              </div>
              <div class="heading top mb-4" style="font-size :17px;">
                {{'labels.nbrecontratentretienarrivantatermine' | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 text-left">
              <div class="title " style="padding-left: 68px;">
                {{ nbrContratParDate }}
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">

              <div class="level">
                <div class="row" style="margin-right: 0px">
                  <div class="col-lg-8 col-md-12 d-flex align-items-center text-right">
                    <span>Durée Par mois</span>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <input type="number" placeholder="Durée" [(ngModel)]="dureEcheance"
                      (change)="dashboardMaintenanceSav()" id="duree" class="form-control text-right">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- intervention nbr -->
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">

      <div class="column">
        <div class="box notification  is-primary color-intervention">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-intervention icon-pink-color ">
                <i class="fa fa-clipboard"></i>
              </div>
              <div class="heading top mb-4" style="font-size :18px;">
                {{'labels.nbrintervention' | translate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-left">
              <!-- display-price -->
              <div class="title " style="padding-left: 68px;">
                {{nbrficheinterventionType}}
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="level">
                <div class="level-item text-right">

                  <div>
                    <div class=" heading text-body" style="font-size :12px">{{'labels.entretien' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">
                        {{nbrficheinterventionentretien}}</span></div>
                  </div>

                  <div>
                    <div class="heading text-body" style="font-size :12px">
                      {{'labels.sav' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">{{nbrficheinterventionsav}}
                      </span>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<!-- <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">{{'labels.top10ContratParCA' | translate}} </h4>
        <p class="card-category">Liste des contrat des entretiens en cours et terminé</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-purple">
              <tr>
                <th class="text-purple">N°</th>
                <th class="text-purple" style=" text-align: left ;">{{'labels.reference' | translate}}</th>
                <th class="text-purple" style=" text-align: right ;     padding-right: 31px;">
                  {{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let contrat of top10ContratParCA ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{contrat?.referenceContrat}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ contrat?.ca  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-pink">
        <h4 class="card-title">{{'labels.volumeheurespartechniciens' | translate}} </h4>
        <p class="card-category">Graphe presenté les nombres des heures pour chaques techniciens dans l'intervention
          Maintenance/Sav</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <canvas #baseChart>
          </canvas>
        </div>

      </div>
    </div>
  </div>

</div> -->