/* custom code end*/

.treeview-external-drag #waitdetails {
  width: 95%;
  float: left;
  height: 100%;
  padding: 0;
}

.treeview-external-drag #waitlist {
  width: 100%;
  height: 50%;
  font-weight: bold;
  font-family: "Segoe UI";
  font-size: 12px;
  color: #545554;
  padding: 5px 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treeview-external-drag #waitcategory {
  height: 50%;
  font-family: "Segoe UI";
  font-size: 10px;
  color: #545554;
  opacity: 0.6;
  padding-left: 10px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treeview-external-drag .e-list-text,
.treeview-external-drag.e-rtl .e-list-text,
.e-bigger .treeview-external-drag .e-list-text,
.e-bigger .treeview-external-drag.e-rtl .e-list-text {
  background: white;
  border: 0.5px solid #e1e7ec;
  height: 50px;
  line-height: 15px;
  padding: 0 5px;
  width: 220px;
}

.treeview-external-drag .e-list-parent,
.treeview-external-drag.e-rtl .e-list-parent,
.e-bigger .treeview-external-drag .e-list-parent,
.e-bigger .treeview-external-drag.e-rtl .e-list-parent {
  height: 100%;
  padding: 0 2px;
}

.treeview-external-drag .e-list-item,
.e-bigger .treeview-external-drag .e-list-item {
  height: 100%;
  padding: 0 0 5px 0;
}

.treeview-external-drag .e-fullrow,
.e-bigger .treeview-external-drag .e-fullrow {
  height: 55px;
}

.treeview-external-drag .e-list-item.e-hover > .e-fullrow,
.treeview-external-drag .e-list-item.e-active > .e-fullrow,
.treeview-external-drag .e-list-item.e-active.e-hover > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-hover > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active.e-hover > .e-fullrow {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none !important;
}

.treeview-external-drag .e-text-content,
.e-bigger .treeview-external-drag .e-text-content,
.treeview-external-drag.e-rtl .e-text-content,
.e-bigger .treeview-external-drag.e-rtl .e-text-content {
  padding: 0;
}

.e-drag-item.e-treeview.treeview-external-drag,
.e-bigger .e-drag-item.e-treeview.treeview-external-drag {
  padding: 0 !important;
}

.e-schedule.schedule-drag-drop .e-timeline-view .e-resource-left-td,
.e-schedule.schedule-drag-drop .e-timeline-month-view .e-resource-left-td {
  width: 160px;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-category {
  padding-left: 30px;
}

.e-schedule.e-rtl.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-category {
  padding-right: 30px;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-child-node .specialist-category,
.e-schedule.schedule-drag-drop .e-resource-cells.e-child-node .specialist-name {
  padding: 5px;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-name {
  padding: 0 10px;
}

.e-schedule.schedule-drag-drop .specialist-name {
  font-size: 13px;
}
.e-schedule.schedule-drag-drop .specialist-designation {
  font-size: 10px;
}

.e-device-hover {
  background-color: #e0e0e0 !important;
}

.e-schedule.schedule-drag-drop .specialist-image {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 550px) {
  /* custom code start*/
  .drag-sample-wrapper {
    display: block;
  }

  .schedule-container {
    padding-bottom: 10px;
  }
  /* custom code end*/

  .treeview-external-drag.e-treeview,
  .e-bigger .treeview-external-drag.e-treeview {
    width: 225px;
  }

  .e-bigger .treeview-external-drag.e-treeview.e-drag-item {
    position: relative !important;
  }
}

.e-treeview::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fffbfb0f;
  border-radius: 10px;
  background-color: #fff;
}

.e-treeview::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}

.e-treeview::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #fffbfb0f;
  background-color: #3e5e7b;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select.form-control {
  height: calc(2.2rem + 2px) !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.2rem + 2px) !important;
}

.col-md-8 {
  margin-left: -17px !important;
}

.e-schedule .e-schedule-toolbar .user-icon {
  /* //background-image: url('./src/schedule/images/nancy.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 24px;
  min-width: 24px !important;
  width: 24px !important;
}

.e-treeview {
  max-height: 700px !important;
  overflow: auto !important;
  border: 1px solid #e0e0e0;
  padding-top: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.treeview-external-drag #waitlist {
  padding-right: 48px !important;
}

.treeCount.e-badge {
  padding: 0.4em;
  vertical-align: text-bottom;
  pointer-events: auto;
  float: right;
  position: absolute;
  right: 20%;
  top: 25%;
  background-color: #03a9f4;
  color: #f0ecec;
  border: 1px solid #fff;
  border-radius: 14%;
  margin-top: -8px;
  /* padding: 5px; */
  padding-top: 3px;
  padding-bottom: 3px;
}
/* .material .treeCount.e-badge {
  vertical-align: middle;
} */
.change-statut {
  padding: 0.4em;
  vertical-align: text-bottom;
  pointer-events: auto;
  float: right;
  position: absolute;
  right: 9%;
  top: 25%;
  background-color: #03a696;
  color: #f0ecec;
  border: 1px solid #fff;
  border-radius: 14%;
  margin-top: -8px;
  padding-top: 3px;
  padding-bottom: 3px;
}
// .details-ficheintervention {
//   padding: 0.4em;
//   vertical-align: text-bottom;
//   pointer-events: auto;
//   float: right;
//   position: absolute;

//   top: 9%;
//   color: #f0ecec;
//   padding-bottom: 3px;
//   padding-left: -24px;
//   font-size: 17px;
//   font-family: "e-icons";
//   font-style: normal;
//   font-variant: normal;
//   font-weight: normal;
//   line-height: 1;
//   speak: none;
//   text-transform: none;
//   margin-top: -8px;
// }

span.e-list-text {
  width: 254px !important;
}

/* .ng-select {
  font-size: 0.85em !important;
}

.ng-select .ng-select-container {
  min-height: 3px !important;
}

.ng-select.ng-select-multiple .ng-select-container {
  height: 50px !important;
} */
.ng-select .ng-dropdown-panel {
  width: auto !important;
  max-width: 550px;
}

.swal-button {
  background-color: #f44336 !important;
}

.agenda-form {
  padding: 20px;

  max-width: 80vw;
  width: 412px;

  .head {
    position: relative;

    .title {
      .input {
        margin-top: 20px;
        padding-bottom: 5px;

        border: none;
        border-bottom: 1px solid #51717b36;

        font-family: Qanelas;
        font-size: 1.4rem;
        font-weight: 500;

        color: #72949e;
        width: 100%;

        &:active,
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #72949e;
        }
      }
    }

    .types {
      display: flex;
      flex-wrap: wrap;

      margin-top: 15px;

      .type {
        cursor: pointer;

        border-radius: 4px;
        border: 1px solid #a2a2a2;

        background-color: #ffffff;
        color: #797979;
        font-family: Raleway;

        margin: 0 15px 15px 0;
        padding: 8px 10px;

        transition-duration: 0.2s;
        transition-property: background-color border-color color;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        &.active {
          &.type--rappels {
            background-color: #feb969 !important;
            border-color: #feb969 !important;
            color: #ffffff !important;
          }

          &.type--taches {
            background-color: #47a2c1 !important;
            border-color: #47a2c1 !important;
            color: #ffffff !important;
          }

          &.type--evenements {
            background-color: #38b475 !important;
            border-color: #38b475 !important;
            color: #ffffff !important;
          }

          &.type--interventionsMaintenance {
            background-color: #05658d !important;
            border-color: #05658d !important;
            color: #ffffff !important;
          }

          &.type--interventionsChantier {
            background-color: #f14f63 !important;
            border-color: #f14f63 !important;
            color: #ffffff !important;
          }
        }
      }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .body {
    margin-top: 5px;

    .upper-row {
      display: flex;
      align-items: center;

      padding: 0 18px;

      .checkbox {
        cursor: pointer;

        margin-left: auto;
        margin-top: 10px;

        input {
          position: relative;
          top: 1px;
        }

        span {
          margin-left: 5px;
        }
      }
    }

    .timepicker {
      display: flex;
      align-items: center;

      height: 100%;
      width: fit-content;

      input {
        border: none;

        font-family: Qanelas;
        font-size: 14px;
        font-weight: 600;

        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    mat-form-field {
      padding-bottom: 0 !important;
      width: 100%;

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }

        .mat-form-field-label {
          left: 15px !important;
        }
      }

      textarea {
        position: relative;
        top: -10px;

        border: 0;
        border-radius: 5px;

        background-color: #f1f7f9;
        padding: 16px 18px;

        width: 100%;

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }

  .foot {
    text-align: right;

    .validation {
      cursor: pointer;
      padding: 12px 14px;

      border: none;
      border-radius: 4px;

      background-color: #38b475;
      color: white;

      transition-duration: 0.2s;
      transition-property: background-color;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #4bc487;
      }
    }
  }
}

.e-title-text {
  /* color: antiquewhite; */
  /* margin-top: 20px; */
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #51717b36;
  font-family: Qanelas;
  font-size: 1.4rem;
  font-weight: 500;
  color: #72949e !important;
  width: 100%;
  margin-bottom: 10px;
}
.e-dlg-header,
.e-dlg-header * {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #51717b36;
  font-family: Qanelas;
  font-size: 1.4rem;
  font-weight: 500;
  color: #72949e !important;
  width: 100%;
  margin-bottom: 10px;
}
button.e-control.e-btn.e-lib.e-primary.e-event-save.e-flat {
  cursor: pointer;
  padding: 12px 14px;
  border: none;
  border-radius: 4px;
  background-color: #38b475 !important;
  color: white !important;
  transition-duration: 0.2s;
  transition-property: background-color;
}

textarea#Object {
  position: relative;
  top: -10px;
  border: 0;
  border-radius: 5px;
  background-color: #f1f7f9;
  padding: 16px 18px;
  width: 100%;
}

.initail-width {
  max-height: 100% !important;
  overflow: hidden !important;
}
// :host-context section {
//   overflow-x: hidden;
// }

::ng-deep section {
  overflow-x: hidden;
}
