<div class="axiobat-modal" (mouseenter)="GetParametrageTva();">
	<div class="root">

		<!-- #region Head -->
		<div class="head">

			<div class="left">
				<div class="title"> Article </div>
			</div>

			<div class="right">
				<div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
					<span>{{ 'labels.btnCancel' | translate }}</span>
				</div>

				<div id="valider" class="cust-button cust-button--success" (click)="save()">
					<span>Valider</span>
				</div>
			</div>

			<div class="close" (click)="close()">
				<img src="./assets/app/images/Icons/x.svg" alt="Close button">
			</div>
		</div>
		<!-- #endregion -->

		<!-- #region Body -->
		<div class="body">

			<form [formGroup]="form">
				<div class="row">
					<div class="col-6">
						<div class="row">

							<!-- Reference -->
							<div class="col-6">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.reference' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
												formControlName="reference">
										</label>
									</div>
								</div>
							</div>

							<!-- Cetegory -->
							<div class="col-6">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.Categorie' | translate }} :</div>
									<div class="cust-input cust-input--select">
										<label class="cust-input__wrapper">
											<mat-select class="cust-input__input" formControlName="categoryId">
												<mat-optgroup *ngFor="let categorie of ListeCategorie">
													{{ categorie.label }}
													<mat-option *ngFor="let item of categorie.subClassification"
														[value]="item?.id">
														{{ item?.label }}
													</mat-option>
												</mat-optgroup>
											</mat-select>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<!-- Designation -->
							<div class="col-12">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.designation' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
												formControlName="designation">
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<!-- Description -->
							<div class="col-12">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.description' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<textarea class="cust-input__input" type="text" rows="4"
												formControlName="description"></textarea>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.type' | translate }} :</div>
									<div class="cust-input cust-input--select">
										<label class="cust-input__wrapper">
											<mat-select class="cust-input__input" formControlName="productCategoryType">
												<mat-option *ngFor="let item of typeProduct" [value]="item">
													{{ item?.label }}
												</mat-option>
											</mat-select>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row">

							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">Quantité :</div>
									<div class="cust-input cust-input--numero">
										<label class="cust-input__wrapper" [attr.data-sign]="''">
											<input class="cust-input__input" matInput type="number"
												formControlName="quantity">
										</label>
									</div>
								</div>
							</div>

							<!-- Unites -->
							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.Unite' | translate }} :</div>
									<div class="cust-input cust-input--select">
										<label class="cust-input__wrapper">
											<mat-select class="cust-input__input" formControlName="unite">
												<mat-option *ngFor="let unite of ListeUnite" [value]="unite.name">
													{{ unite?.acronym }}
												</mat-option>
											</mat-select>
										</label>
									</div>
								</div>
							</div>

							<!-- TVA -->
							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.Tva' | translate }} :</div>
									<div class="cust-input cust-input--percent">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" matInput type="number"
												formControlName="vat">
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<!-- Hours -->
							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.nombre_heure' | translate }} :</div>
									<div class="cust-input cust-input--numero">
										<label class="cust-input__wrapper" [attr.data-sign]="''">
											<input class="cust-input__input" matInput type="number"
												id="add-montant-chantier-form-btn" formControlName="totalHours">
										</label>
									</div>
								</div>
							</div>

							<!-- Cour horaire -->
							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.cout_horaire' | translate }} :</div>
									<div class="cust-input cust-input--readonly cust-input--numero">
										<label class="cust-input__wrapper" [attr.data-sign]="''">
											<input class="cust-input__input" matInput readonly type="number"
												[value]="calculate_cout_horaire()">
										</label>
									</div>
								</div>
							</div>

							<!-- Cout matériel -->
							<div class="col-4">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.cout_materiel' | translate }} :</div>
									<div class="cust-input cust-input--numero">
										<label class="cust-input__wrapper" [attr.data-sign]="''">
											<input class="cust-input__input" matInput type="number"
												formControlName="materialCost">
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<!-- Cour horaire -->
							<div class="col-6">
								<div class="row">
									<div class="col-7">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'labels.remise' | translate }} :</div>
											<div class="cust-input cust-input--numero">
												<label class="cust-input__wrapper" [attr.data-sign]="''">
													<input class="cust-input__input" matInput type="number"
														formControlName="remise">
												</label>
											</div>
										</div>
									</div>

									<div class="col-5">
										<div class="cust-input-group">
											<div class="cust-label">­</div>
											<div class="cust-input cust-input--select">
												<label class="cust-input__wrapper">
													<mat-select class="cust-input__input" [(ngModel)]="typeRemiseGloabl"
														id="typeRemiseGloabl-produit-btn"
														[ngModelOptions]="{standalone: true}">
														<mat-option value=2>€</mat-option>
														<mat-option value=1>%</mat-option>
													</mat-select>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-6 mt-1">
								<div class="row">
									<div class="col col--flex">
										<div class="info-bundle">
											<span
												class="value value--constant">{{ TotalHt(f?.quantity?.value) | RoudingNumber | ShowCurrency }}</span>
											<span class="label">{{ 'labels.TotalHt' | translate }}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col col--flex">
										<div class="info-bundle">
											<span
												class="value value--positive">{{ prixTtc(f?.quantity?.value) | RoudingNumber | ShowCurrency }}</span>
											<span class="label">{{ 'labels.TotalTTC' | translate }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="cust-label">Fournisseur :</div>
					
							<fournisseur-card  [ListPrixParFournisseur]=PrixParFournisseur>
							</fournisseur-card>
							<!-- <fournisseur-card [add]="true" (validateClicked)="addPrixFournisseur($event)">
							</fournisseur-card> -->
					
					</div>
				</div>

				<!-- <div class="row">
					<div class="col">
						<div class="cust-label mb-1">Labels :</div>
						<tags-input formControlName="labels" [tags]="labels" [readonly]="false"></tags-input>
					</div>
				</div> -->
				<div class="row" *ngIf="!data?.article && data?.article !== null">
					<div class="col">
						<div class="cust-input-group">
							<div class="container form-check-inline">
								<mat-checkbox class="new-checkbox mr-1" [(ngModel)]="addInDb"
									[ngModelOptions]="{standalone: true}">
									Ajouter à la Bibliothèque
								</mat-checkbox>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- #endregion -->
	</div>
</div>


<custom-loader [displayLoader]="processing"></custom-loader>