<div class="root">
	<div class="display-table">

		<!-- #region Display head -->
		<div class="display-table__head">
			<!-- Left controls-->
			<div class="left">
				<!-- <div class="cust-input cust-input--search">
					<label class="cust-input__wrapper">
						<div class="cust-input__icon">
							<img src="./assets/app/images/Icons/search.svg" alt="Search icon">
						</div>
						<input class="cust-input__input" type="search" placeholder="Rechercher" [(ngModel)]="search">
					</label>
				</div> -->

			</div>
			<!-- Right controls -->
			<div class="right">
				<div class="cust-button cust-button--success" (click)="AddMaterial(false , 'add')">
					<span>Nouveau </span>
				</div>
			</div>
		</div>
		<!-- #endregion -->

		<!-- #region Display body -->
		<div class="display-table__body">
			<table class="chantier-table">
				<thead>
					<tr>
						<th>
							<div class="th-wrapper"> <span> {{ 'LABELS.DESIGNATION' | translate }} </span></div>
						</th>
						<th>
							<div class="th-wrapper"> <span> {{ 'LABELS.brand' | translate }} </span> </div>
						</th>
						<th>
							<div class="th-wrapper"> <span> {{ 'LABELS.module' | translate }} </span></div>
						</th>
						<th>
							<div class="th-wrapper"> <span> {{ 'LABELS.serialNumber' | translate }} </span></div>
						</th>
						<th class="actions"> </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let element of items ;let i of items.length">

						<td> {{ element.designation }} </td>
						<td> {{ element.brand }} </td>
						<td> {{ element.model }} </td>
						<td> {{ element.serialNumber }} </td>


						<!-- Actions trigger -->
						<td class="actions">
							<div class="actions-trigger" [matMenuTriggerFor]="matMenu" (onMenuOpen)="onMenuOpened(element)">
								<img src="./assets/app/images/Icons/more-vertical.svg" alt="Actions icon">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- #endregion -->
		<!-- #region Display foot -->
		<div class="display-table__foot">
			<!-- <paination [painationInfo]="dataitems" (chagePageNamber)="chagePageNumber($event)"
				(changePageSize)="changePageSize($event)" [pageSizes]="pageSizeOptions"></paination> -->
		</div>
		<!-- #endregion -->
	</div>
</div>


<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--actions" overlapTrigger
	xPosition="before">

	<span mat-menu-item class="menu-item" matTooltip="" (click)="AddMaterial(true)">
		<div class="icon"> <img src="./assets/app/images/Icons/eye.svg"> </div>
	</span>

	<span mat-menu-item class="menu-item" matTooltip="" (click)="AddMaterial(false , 'edit')">
		<div class="icon"> <img src="./assets/app/images/Icons/edit.svg"> </div>
	</span>

	<span mat-menu-item class="menu-item" matTooltip="" (click)="delete()">
		<div class="icon"> <img src="./assets/app/images/Icons/trash-2.svg"> </div>
	</span>

</mat-menu>

<!-- #endregion -->

<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->