
    <div class="modal-content">
      <div class="modal-header bg-primary white">
        <h4 class="modal-title">
          {{'groupes.listClients' | translate }}
        </h4>
        <button type="button" class="close" (click) = "close()" aria-label="Close" id="show-close-groupe-btn">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-horizontal">
          <div class="form-body">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">

                  <ng-select class="form-control" (click)="getClients()" id="show-close-groupe-btn"
                    notFoundText="{{'labels.noFoundItemclient' | translate}}"
                    (change)="setSelectedClient($event)" #InputString>
                    <ng-option *ngFor="let client of listClients;let i = index" [value]="client">
                      {{client?.name}} </ng-option>
                  </ng-select>


                  <!-- button -->
                  <div class="input-group-append">
                    <button style="height:2.3rem !important;padding: 0 25px;" (click)="addclientToGroupe()"
                      class="btn btn-primary"
                      ngbTooltip="{{ 'labels.add' | translate }} {{ 'labels.client' | translate }}" type="button">
                      <i class="ft-plus"></i>
                      {{ 'labels.add' | translate }}
                    </button>
                  </div>
                  <!-- button -->

                </div>
              </div>

            </div>

            <div class="table-responsive">
              <table class="table table-bordered" *ngIf=" groupe?.clients.length> 0">

                <tbody>

                  <tr *ngFor="let client of groupe?.clients;let index = index">

                    <td>{{client?.name}}
                      <button class="btn btn-danger btn-sm " style="float: right" type="button" id="show-remove-groupe-btn"
                        (click)="removeClientFromGroupe(client,index)">
                        <i class="ft-trash"></i>
                      </button>
                    </td>


                  </tr>
                </tbody>


              </table>
              <div class="no-data-available" *ngIf="groupe?.clients.length == 0">

                <p>{{'groupes.noDataAvaibleClient' | translate}}</p>

              </div>


            </div>
          </div>
        </form>
      </div>
    </div>
