.pdfView {
    color: white;
    margin-right: 1rem;
    margin-top: -70px;
    //   background-color: #2DCEE3 ;
}
.card-body.download-Model {
    max-height: 38vw;
}

.modal-body {
    max-height: 100vw !important;
    overflow: auto;
}