<recherche-avancee>
  <div class="recherche-avancee-body">
    <div class="ui-g ui-fluid" *ngIf="dateLang">
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.chantier' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" placeholder="{{'list.chantier' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" (click)="getChantiers()" #selecteChantiers
          [multiple]="true" [items]="filterlistChantier" bindLabel="name" bindValue="id" [(ngModel)]="idChantier">

        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.client' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" placeholder="{{'list.client' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idClient" (click)="getClients()"
          #selecteClients [multiple]="true" [items]="filterlistClient" bindLabel="name" bindValue="id">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.groupe' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" placeholder="{{'list.groupe' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idGroupe" (click)="getGroupes()"
          #selecteGroupes [multiple]="true" [items]="filterlistGroupe" bindLabel="name" bindValue="id">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
          [(ngModel)]="periode">
          <ng-option [value]="periodeEnum.CurrentMonth">{{ 'labels.moisCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastThreeMonths">{{ 'labels.troisMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastSixMonths">{{ 'labels.sixMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentYear">{{ 'labels.anneeCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastYear">{{ 'labels.anneeDerniere' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentAccountingPeriod">
            {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.None">{{ 'labels.tous' | translate }} </ng-option>
          <ng-option [value]="periodeEnum.Interval">{{ 'labels.intervalle' | translate }}</ng-option>
        </ng-select>
      </div>

      <ng-container *ngIf="periode == periodeEnum.Interval">
        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>

<div class="row row mt-5">

  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">

      <div class="column">
        <div class="box notification  is-primary color-nbrchantier">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-nbrchantier icon-blue-color ">
                <i class="fa fa-university"></i>
              </div>
              <div class="heading top mb-2" style="font-size :18px;">
                {{'labels.nbrchantier' | translate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-left">
              <div class="title ">
                {{totalNbrChantier}}
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="level">
                <div class="level-item text-right">

                  <div>
                    <div class=" heading text-body" style="font-size :12px">{{'labels.encours' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">
                        {{nbrCAEncours}}</span></div>
                  </div>

                  <div>
                    <div class="heading text-body" style="font-size :12px">

                      {{'labels.terminer' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">{{nbrCAtermine}}
                      </span>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">

      <div class="column">
        <div class="box notification  is-primary color-chaiffre">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-chaiffre icon-green-color ">
                <i class="fa fa-eur"></i>
              </div>
              <div class="heading top mb-4" style="font-size :18px;">
                {{'labels.chiffreaffaire' | translate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 text-left">

              <div class="title ">
                {{  totalCA  | RoudingNumber }} €
              </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
              <div class="level">
                <div class="level-item text-right">

                  <div>
                    <div class=" heading text-body" style="font-size :12px">{{'labels.encours' | translate}}
                      <span class="title is-5  f-r" style="font-size :15px; font-weight: 400;">
                        {{totalCaEncours | RoudingNumber}} €</span></div>
                  </div>

                  <div>
                    <div class="heading text-body" style="font-size :12px">

                      {{'labels.terminer' | translate}}
                      <span class="title is-5  f-r"
                        style="font-size :15px;    font-weight: 400;">{{totalCaTermine | RoudingNumber}} €
                      </span>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- intervention nbr -->
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="columns is-multiline">

      <div class="column">
        <div class="box notification  is-primary color-intervention">
          <div class="row">
            <div class="col-12">
              <div class="icon-container-intervention icon-pink-color ">
                <i class="fa fa-clipboard"></i>
              </div>
              <div class="heading top mb-4" style="font-size :18px;">
                {{'labels.nbrintervention' | translate}}
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-left">
              <!-- display-price -->
              <div class="title ">
                {{nbrTotalIntervention}}
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="level">
                <div class="level-item text-right">

                  <div>
                    <div class=" heading text-body" style="font-size :12px">{{'labels.planifiees' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">
                        {{nbrinterventionPlanifiee}}</span></div>
                  </div>

                  <div>
                    <div class="heading text-body" style="font-size :12px">
                      {{'labels.realises' | translate}}
                      <span class="title is-5  f-r" style="font-size :18px">{{nbrinterventioRealise}}
                      </span>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">{{'labels.topchantierCA' | translate}} </h4>
        <p class="card-category">Liste des chantiers en cours et terminé</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-purple">
              <tr>
                <th class="text-purple">N°</th>
                <th class="text-purple" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-purple" style=" text-align: right ;padding-right: 31px;">
                  {{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let chantier of top10ChantierParCA ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{chantier?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ chantier?.turnover  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-main">
        <h4 class="card-title">{{'labels.topchantierheures' | translate}}</h4>
        <p class="card-category">Liste des chantiers en cours et terminé avec une fiche interventions avec status
          réalisée</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                <th class="text-warning">N°</th>
                <th class="text-warning" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-warning" style=" text-align: right ;">{{'labels.heures' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let chantier of top10ChantierParHeures ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{chantier?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ chantier?.workingHours }}
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-green">
              <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 20px;">
                {{'labels.margeChantier' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{margeInChantier | RoudingNumber}} €</span>
              </div>
            </div>
          </div>
          <div *ngIf="listChantier.length != 0" class="card-footer d-flex align-items-center justify-content-between">
            <p><a (click)="LoadListChantier()"> Plus Details</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-pink">
              <i class="fa fa-credit-card"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 20px;">
                {{'labels.margemainoeuvre' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{margeMainOeuvre | RoudingNumber}} €</span>
              </div>
            </div>
          </div>
          <div *ngIf="listChantier.length != 0" class="card-footer d-flex align-items-center justify-content-between">
            <p><a (click)="LoadListChantier()"> Plus Details</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-blue">
              <i class="fa fa-money"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 20px;">
                {{'labels.margesoustraitant' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{margeMateriel | RoudingNumber}} €</span>
              </div>
            </div>

          </div>
          <div *ngIf="listChantier?.length != 0" class="card-footer d-flex align-items-center justify-content-between">
            <p><a (click)="LoadListChantier()"> Plus Details</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>