@import "./../../../assets/scss/core/mixins/scrollbar";

section {
  border-radius: 10px;
  overflow: auto;

  @include scrollbar;
  max-height: calc(100vh - 120px);
}

.agenda {
  border-radius: 8px;
  background-color: white;

  min-width: 1051px;

  &__head {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    padding: 20px;
    z-index: 1;

    & > .left {
      display: flex;
      align-items: center;

      .cust-input-group--techniciens,
      .cust-input-group--types {
        min-width: 200px;
      }

      .cust-input-group--techniciens {
        margin-right: 16px;
      }
    }

    & > .right {
      display: flex;
      align-items: center;

      .cust-input-group--date {
        margin-right: 16px;

        .cust-input {
          background: #daecf3 !important;

          transition-duration: 0.2s;
          transition-property: background-color;

          &:hover {
            background: #bcdfed !important;
          }

          &__wrapper {
            cursor: pointer;
          }

          &__input {
            color: #47a2c1 !important;
            font-weight: 600;
          }
        }
      }

      .cust-input-group--display {
        min-width: 200px;
      }
    }
  }

  &__body {
    padding: 0 20px 20px 20px;

    ejs-schedule {
      overflow: visible;
    }

    .e-schedule {
      border-color: rgb(247, 250, 252) !important;
    }

    .e-schedule-toolbar-container {
      display: none;
    }

    .e-current-time {
      display: none;
    }

    .e-schedule .e-timeline-view .e-appointment .e-left-icon,
    .e-schedule .e-timeline-view .e-appointment .e-right-icon,
    .e-schedule .e-timeline-month-view .e-appointment .e-left-icon {
      line-height: 20px !important;
    }

    .e-current-timeline {
      border-left-color: #f53c56 !important;

      &::after {
        content: "";
        position: absolute;
        left: -4px;
        top: 0;

        background-color: #f53c56;
        border-radius: 50%;

        height: 8px;
        width: 8px;
      }
    }

    .e-date-header-container .e-date-header-wrap {
      .e-time-slots {
        overflow: inherit;
        background-color: #f7fafc;
      }

      .e-schedule-table {
        tr {
          &:last-of-type {
            .e-header-cells {
              background-color: #f7fafc;
              border: 0;
              color: #8898aa;

              padding: 14px 0;

              text-align: center;
              font-family: Raleway;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .e-content-wrap {
      @include scrollbar;
      min-height: calc(100vh - 330px);

      td {
        border: 1px solid #eef2f5 !important;
      }

      .e-current-date {
        .e-date-header {
          background-color: #daecf3 !important;
          border-radius: 100px;

          font-weight: 500;
          color: #47a2c1 !important;

          padding: 8px 10px !important;
        }
      }

      .e-work-cells {
        cursor: pointer;
        background-color: #ffffff !important;

        transition-duration: 0.2s;
        transition-property: background-color;

        &:hover {
          background-color: #fbfbfb !important;
        }
      }

      .e-other-month {
        color: #d6d6d6 !important;
      }

      .e-date-header {
        margin: 15px 20px 0 auto !important;

        &:hover {
          text-decoration: none !important;
        }
      }

      .e-appointment-wrapper {
        position: absolute;

        display: flex;
        flex-direction: column;

        .e-appointment {
          cursor: pointer !important;

          background: transparent !important;
          border-radius: 4px !important;
          border: 1px solid white;

          margin-bottom: 2px;

          font-family: Raleway;
          font-weight: 100;

          transition-duration: 0.2s;
          transition-property: box-shadow;

          &:hover {
            box-shadow: 0 2px 10px 0 #0000003d;
          }

          .e-appointment-details {
            position: relative;
            padding: 0;

            .cust-appointment {
              padding: 3px 7px;
              width: 100%;

              .subject {
                font-family: Qanelas;
                font-size: 12px;
                font-weight: 100;
              }

              &--rappels {
                position: relative;
                color: #3a3a3a;

                &::before {
                  content: "";
                  background-color: #feb969;
                  border-radius: 50%;

                  position: absolute;
                  top: 8px;
                  left: 8px;

                  height: 10px;
                  width: 10px;
                }

                .subject {
                  padding-left: 18px;
                }
              }

              &--taches {
                position: relative;
                color: #3a3a3a;

                &::before {
                  content: "";
                  background-color: #47a2c1;
                  border-radius: 50%;

                  position: absolute;
                  top: 8px;
                  left: 8px;

                  height: 10px;
                  width: 10px;
                }

                .subject {
                  padding-left: 18px;
                }
              }

              &--evenements {
                background-color: #38b475;
              }

              &--interventionsMaintenance {
                background-color: #05658d;
              }

              &--interventionsChantier {
                background-color: #f14f63;
              }

              &:not(:first-of-type) {
                padding-left: 20px;
              }
            }

            .e-indicator {
              position: absolute;
              top: 2px;

              &.e-left-icon {
                left: 4px;
              }

              &.e-right-icon {
                right: 4px;
              }
            }
          }
        }
      }
    }

    .e-month-view {
      .e-appointment {
        height: auto !important;
        min-height: 25px;
      }
    }

    .e-day-view,
    .e-week-view {
      // .e-date-header-wrap {
      //   border: 1px solid #eef2f5;
      //   border-bottom: none;

      //   .e-time-cells,
      //   .e-time-slots {
      //     border-color: #eef2f5 !important;
      //     color: #4e4e4e;

      //     font-family: Qanelas;
      //     font-weight: 100;
      //   }

      //   .e-header-row:first-of-type {
      //     display: none;
      //   }
      // }

      .e-appointment-wrapper {
        width: 100%;

        .e-appointment-details,
        .cust-appointment {
          height: 100%;
        }
      }

      .e-work-cells {
        background-color: #f5f6fa !important;
        border-color: #eef2f5 !important;
      }
    }

    .e-quick-popup-wrapper {
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2) !important;
      border-radius: 10px;

      overflow: hidden;

      .e-icons {
        margin-left: 0 !important;

        &:first-of-type {
          font-size: 15px;
        }
      }

      .e-subject-wrap {
        font-family: Qanelas;
        font-size: 1rem !important;
        font-weight: 500;
      }

      .e-popup-content {
        padding: 0px 20px 15px 20px !important;
      }

      & > .e-event-popup .e-popup-header {
        background-color: transparent !important;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        .e-header-icon-wrapper {
          padding: 0 !important;
          width: auto;
        }

        .e-subject-wrap {
          padding: 0 !important;
        }

        & > div {
          padding: 15px 20px 15px 20px;
          width: 100%;
        }

        .cust-appointment--rappels {
          background-color: #feb969 !important;
        }

        .cust-appointment--taches {
          background-color: #47a2c1 !important;
        }

        .cust-appointment--evenements {
          background-color: #38b475 !important;
        }

        .cust-appointment--interventionsMaintenance {
          background-color: #05658d !important;
        }

        .cust-appointment--interventionsChantier {
          background-color: #f14f63 !important;
        }
      }
    }
  }

  &__footer {
    background: white;
    padding: 0 20px 20px 20px;

    .legends {
      display: flex;
      align-items: center;

      .label {
        position: relative;

        color: #5a5a5a;

        margin-right: 20px;
        padding-left: 18px;

        &::before {
          content: "";

          border-radius: 2px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

          position: absolute;
          top: 2px;
          left: 0;

          height: 13px;
          width: 13px;
        }

        &--rappels::before {
          background-color: #feb969;
        }

        &--taches::before {
          background-color: #47a2c1;
        }

        &--evenements::before {
          background-color: #38b475;
        }

        &--interventionsMaintenance::before {
          background-color: #05658d;
        }

        &--interventionsChantier::before {
          background-color: #f14f63;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    .left img {
      transform: rotate(90deg);
    }

    .right img {
      transform: rotate(-90deg);
    }

    .hide-button {
      border: none;
      visibility: hidden;

      margin: 0;
      padding: 0;
      width: 0;
    }

    .label {
      cursor: pointer;

      color: #383838;
      padding: 0 20px;

      font-family: Qanelas;
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;
    }

    .left,
    .right {
      img {
        cursor: pointer;
        opacity: 0.4;

        transition-property: opacity;
        transition-duration: 0.2s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.option-reset {
  border-bottom: 1px solid #eaeaea;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #47a2c1;
    font-size: 12px;

    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 15px;
      margin: 0 !important;

      height: 30px;
      width: 30px;

      transition-duration: 0.2s;
      transition-property: background-color border-radius;

      &:hover {
        background-color: #ffffff;
        border-radius: 5px;
      }
    }
  }
}

.e-more-popup-wrapper {
  width: auto !important;
}

.e-schedule .e-table-wrap.e-timeline-day-view {
  .e-event-table,
  .e-appointment-container,
  .e-appointment-wrapper {
    height: 100%;
    width: 100%;

    .e-appointment {
      // height: calc(100% - 2px) !important;

      .cust-appointment {
        border: 1px solid white;

        &--taches,
        &--rappel {
          background-color: white;
        }
      }

      .subject {
        word-break: break-word;
        white-space: normal;
      }
    }
  }
}
