//#region Display card
.memo-card {
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

  padding: 15px 20px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4px;

    mat-icon {
      cursor: pointer;
      opacity: 0.8;
      vertical-align: middle;

      transition-property: opacity;
      transition-duration: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__body {
    .comment {
      color: #494948;

      font-family: Raleway;
      font-size: 13px;
      line-height: 16px;

      margin-bottom: 0;
      width: calc(100% - 25px);
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 4px;

    .attachments-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        margin-right: 10px;
        font-size: 12px;
        font-family: Qanelas;

        .image {
          color: #38b475;
        }

        .file {
          color: #47a2c1;
        }
      }

      .right {
        position: relative;
        height: 35px;

        .attachment-icon {
          cursor: pointer;

          position: absolute;
          right: 0;
          top: 0;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: white;
          border: 1px solid #9b9b9b;
          border-radius: 50%;

          height: 35px;
          width: 35px;

          img {
            opacity: 0.6;
            width: 18px;

            transition-property: opacity;
            transition-duration: 0.2s;
          }

          &--image {
            border-color: #38b475;
          }

          &--file {
            border-color: #47a2c1;

            img {
              width: 12px;
            }
          }

          &:hover {
            z-index: 1;

            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .label {
    color: #8898aa;

    font-family: Qanelas;
    font-size: 12px;

    &--sm {
      font-size: 11px;
    }
  }

  // &__main {
  //   display: flex;
  //   justify-content: space-between;
  // }

  // &__content {
  //   flex: 1;

  //   textarea {
  //     padding: 10px;

  //     background-color: #f7fafc;
  //     border: none;
  //     border-radius: 8px;

  //     font-family: Raleway;
  //     font-size: 14px;
  //     font-weight: 100;

  //     height: 100%;
  //     min-height: 110px;
  //     width: 100%;

  //     &:focus {
  //       outline-color: #beced8;
  //     }
  //   }
  // }

  // &__controls {
  //   padding: 0 0 0 10px;

  //   ul {
  //     margin: 0;
  //     padding: 0;

  //     list-style-type: none;

  //     li {
  //       .icon-btn {
  //         cursor: pointer;

  //         display: flex;
  //         align-items: center;
  //         justify-content: center;

  //         background-color: transparent;
  //         border: 1px solid grey;
  //         border-radius: 50%;

  //         height: 30px;
  //         width: 30px;

  //         opacity: 0.8;

  //         transition-duration: 0.2s;
  //         transition-property: opacity;

  //         img {
  //           width: 15px;
  //         }

  //         &:hover {
  //           opacity: 1;
  //         }

  //         &--init {
  //           border-color: #464646;
  //           background-color: #ffffff;
  //         }

  //         &--attach {
  //           border-color: #1b9db3;
  //           background-color: #1b9db3;

  //           img {
  //             filter: invert(1);
  //           }
  //         }

  //         &--plus {
  //           border-color: #38b475;
  //           background-color: #38b475;

  //           img {
  //             filter: invert(1);
  //           }
  //         }
  //       }

  //       &:not(:last-of-type) {
  //         margin-bottom: 10px;
  //       }
  //     }
  //   }
  // }

  // &__files {
  //   border-top: 1px solid #f1f1f1;

  //   margin-top: 10px;
  //   padding-top: 8px;

  //   ul {
  //     margin: 0;
  //     padding: 0;

  //     list-style-type: none;

  //     li {
  //       .file {
  //         display: flex;
  //         align-items: center;
  //         justify-content: space-between;

  //         padding-left: 10px;

  //         .info {
  //           color: #424242 !important;

  //           font-family: Qanelas;
  //           font-size: 14px;
  //           font-weight: 500;
  //         }

  //         .remove-btn {
  //           cursor: pointer;

  //           display: flex;
  //           align-items: center;
  //           justify-content: center;

  //           opacity: 0.2;

  //           height: 30px;
  //           width: 30px;

  //           transition-duration: 0.2s;
  //           transition-property: opacity;

  //           img {
  //             width: 15px;
  //           }

  //           &:hover {
  //             opacity: 1;
  //           }
  //         }
  //       }

  //       &:nth-of-type(odd) {
  //         background-color: #f7fafc;
  //       }
  //     }
  //   }
  // }
}
// #endregion

//#region Addition card
.addittion-card {
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

  padding: 10px;

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex: 1;

    textarea {
      padding: 10px;

      background-color: #f7fafc;
      border: none;
      border-radius: 8px;

      font-family: Raleway;
      font-size: 14px;
      font-weight: 100;

      height: 100%;
      min-height: 110px;
      width: 100%;

      &:focus {
        outline-color: #beced8;
      }
    }
  }

  &__controls {
    padding: 0 0 0 10px;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        .icon-btn {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: transparent;
          border: 1px solid grey;
          border-radius: 50%;

          height: 30px;
          width: 30px;

          opacity: 0.8;

          transition-duration: 0.2s;
          transition-property: opacity;

          img {
            width: 15px;
          }

          &:hover {
            opacity: 1;
          }

          &--init {
            border-color: #464646;
            background-color: #ffffff;
          }

          &--attach {
            border-color: #1b9db3;
            background-color: #1b9db3;

            img {
              filter: invert(1);
            }
          }

          &--check {
            border-color: #38b475;
            background-color: #38b475;

            img {
              filter: brightness(0) invert(1);
            }
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__files {
    border-top: 1px solid #f1f1f1;

    margin-top: 10px;
    padding-top: 8px;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        .file {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding-left: 10px;

          .info {
            color: #424242 !important;

            font-family: Qanelas;
            font-size: 14px;
            font-weight: 500;
          }

          .remove-btn {
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0.2;

            height: 30px;
            width: 30px;

            transition-duration: 0.2s;
            transition-property: opacity;

            img {
              width: 15px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        &:nth-of-type(odd) {
          background-color: #f7fafc;
        }
      }
    }
  }
}
//#endregion

.cust-menu--actions {
  margin-right: 30px;
  display: none;
}
