<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel class="disabled-pointer">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'parametrageplanComptable.title' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">

        <!-- Information -->
        <mat-tab data-name="plan-comptable" label="Plan Comptable">

        </mat-tab>

        <!-- facturre situation  -->
        <mat-tab data-name="periode-comptable" label="Période comptable">
        </mat-tab>

        <!-- paiment facture  -->
        <mat-tab data-name="produit" label="Produit">

        </mat-tab>

        <!-- paiment facture  -->
        <mat-tab data-name="achat" label="Achat">

        </mat-tab>
        <!-- note -->
        <mat-tab data-name="tva" label="TVA">

        </mat-tab>

      </mat-tab-group>

    </div>

    <!-- #region plancomptable -->
    <div class="cust-card__body" *ngIf="selectedTabs==='plan-comptable'">
      <form class="form" *ngIf="planComptableForm" [formGroup]="planComptableForm">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" *ngFor="let item of planComptableList; let i = index">
            <div class="tracking-list">
              <div class="d-flex justify-content-between align-items-center px-0"
                *ngIf="item.subCategories?.length === 0">
                <div class="cust-input-group">
                  <div class="cust-label">{{ item.label | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" id="{{ item.label }}" type="text" [formControlName]="item.id">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-right py-1">
            <button [disabled]="!planComptableForm.dirty || planComptableForm.invalid" type="button"
              (click)="saveFormPlanComptable()" class="cust-button cust-button--success" placement="bottom"
              ngbTooltip="{{ 'labels.save' | translate }}"> {{ 'labels.save' | translate }}
            </button>
          </div>
        </div>

      </form>
    </div>
    <!-- #endregion  -->

    <!-- #region plancomptable -->
    <div class="cust-card__body" *ngIf="selectedTabs==='periode-comptable'">
      <form [formGroup]="periodeComptableForm">
        <div class="bottom-content" id="content-chantier">
          <div id="accordionPeriodeComptable">
            <div class="card-content">
              <div class="card-body">
                <div class="content-header row">
                  <div class="content-header-right  col-12">
                    <div id="valider" class="cust-button cust-button--success float-md-right"
                      (click)="ajouterPeriodeComptable()" *ngIf="periodes?.length == 0">
                      <span>{{ 'labels.nouveau' | translate }}</span>
                    </div>
                  </div>
                </div>
                <section class="periode-comptable" id="multi-column">
                  <form *ngIf="periodeComptableForm" [formGroup]="periodeComptableForm">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <div class="card box-shadow-0 ">
                          <div class="card-content collapse show">
                            <div class="card-body ">
                              <ng-container *ngFor="let periode of periodes.reverse(); let i = index">
                                <div *ngIf="periodes?.length==0">Aucune donnée disponible</div>

                                <div class="form-content" style="padding: 2px 15px;">
                                  <div class="row" *ngIf="periode.endingDate ==null">
                                    <!-- Date de début -->
                                    <div class="col">

                                      <div class="cust-input-group">
                                        <div class="cust-label">La date
                                          de début de l'exercice comptable :</div>
                                        <div class="cust-input cust-input--date">
                                          <label class="cust-input__wrapper">
                                            <input class="cust-input__input" #fromInput matInput
                                              [matDatepicker]="dateDebut" [placeholder]="'Date Début'"
                                              formControlName="dateDebut">
                                            <mat-datepicker-toggle matSuffix [for]="dateDebut">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #dateDebut></mat-datepicker>
                                          </label>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- Dureé -->
                                    <div class="col">
                                      <div class="cust-input-group">
                                        <div class="cust-label">Durée :</div>
                                        <div class="cust-input">
                                          <label class="cust-input__wrapper">
                                            <input class="cust-input__input" id="periode" type="text"
                                              formControlName="periode">
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row" *ngIf="periode.endingDate != null">
                                    <!-- Date de début -->
                                    <div class="col-lg-6">
                                      <div class="cust-input-group">
                                        <div class="cust-label">La date de début de l'exercice comptable :</div>
                                        <div class="cust-input">
                                          <label class="cust-input__wrapper">
                                            <input class="cust-input__input" id="periode" type="text"
                                              [value]="periode.startingDate | date:'dd/MM/yyyy'" disabled>
                                          </label>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- Dureé -->
                                    <div class="col-lg-6">
                                      <div class="cust-input-group">
                                        <div class="cust-label">Durée :</div>
                                        <div class="cust-input">
                                          <label class="cust-input__wrapper">
                                            <input class="cust-input__input" id="periode" type="text"
                                              [value]="periode.period" disabled>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row" *ngIf="periode.endingDate ==null">
                                    <div class="col-lg-12 text-right">
                                      <button class="cust-button cust-button--success"
                                        (click)="updatePeriodeComptable(periode)">
                                        <i class="fa fa-edit"></i>
                                        Modifier période comptable
                                      </button>
                                      <button class="cust-button cust-button--secondary"
                                        style="margin-left:12px;margin-top: 2px" (click)="cloturPeriode(periode?.id)">
                                        <i class="ft-lock"></i>
                                        Clôturer </button>
                                    </div>
                                  </div>
                                </div>
                              </ng-container>
                              <div class="file-label text-center" *ngIf="periodes?.length == 0">
                                {{ 'labels.noDataAvaiblePeriodeComptable' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>

                <!-- Modifier période comptable-->
                <div class="modal fade text-left" id="modifierPeriodeComptable" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel98" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="cust-card">
                        <div class="cust-card__head">
                          <div class="left">
                            <h2 class="title" id="myModalLabel98">
                              {{ (!isAdd? 'labels.modifier' : 'labels.add') | translate }}
                              {{ 'comptabilite.periodeComptable' | translate }}</h2>
                          </div>
                          <div class="right">
                            <label>
                              <div class="cust-button cust-button--secondary">
                                <span>{{ 'labels.cancel' | translate }}</span>
                              </div>
                              <button type="button" style="display: none;" data-dismiss="modal">
                                {{ 'labels.cancel' | translate }}</button>
                            </label>
                            <div class="cust-button cust-button--success" (click)="updatePeriodeComptable()"
                              *ngIf="!isAdd">
                              <span>{{ 'labels.sauvegarder' | translate }}</span>
                            </div>
                            <div class="cust-button cust-button--success" (click)="addPeriodeComptable()" *ngIf="isAdd">
                              <span>{{ 'labels.sauvegarder' | translate }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="cust-card__body" *ngIf="periodeComptableForm">
                          <form [formGroup]="periodeComptableForm">

                            <div class="row " *ngIf="dateLang">
                              <div class="col">
                                <div class="cust-input-group">
                                  <div class="cust-label">{{ 'comptabilite.dateDebut' | translate }} :</div>

                                </div>
                              </div>
                              <div class="col">
                                <div class="cust-input-group">
                                  <!-- <div class="cust-label">{{ 'comptabilite.dateDebut' | translate }} :</div> -->
                                  <div class="cust-input cust-input--date">
                                    <label class="cust-input__wrapper">
                                      <input class="cust-input__input" #fromInput matInput [matDatepicker]="dateDebut1"
                                        [placeholder]="'Date Début'" formControlName="dateDebut">
                                      <mat-datepicker-toggle matSuffix [for]="dateDebut1">
                                      </mat-datepicker-toggle>
                                      <mat-datepicker #dateDebut1></mat-datepicker>
                                    </label>
                                  </div>
                                  <small class="text-danger"
                                    *ngIf="periodeComptableForm?.controls?.dateDebut?.errors?.required">{{'errors.required' | translate }}</small>

                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row ">
                              <div class="col">
                                <div class="cust-input-group">
                                  <div class="cust-label">{{ 'comptabilite.duree' | translate }} :</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="cust-input-group">
                                  <!-- <div class="cust-label">{{ 'comptabilite.duree' | translate }} :</div> -->
                                  <div class="cust-input cust-input--select">
                                    <label class="cust-input__wrapper">
                                      <mat-select id="add-client-form-btn" class="cust-input__input"
                                        formControlName="periode">
                                        <mat-option *ngFor="let item of dureeComptables; let i = index"
                                          id="add-client-chantier" [value]="item">
                                          {{ item }}</mat-option>
                                      </mat-select>
                                    </label>
                                  </div>
                                </div>
                                <small class="text-danger"
                                  *ngIf="periodeComptableForm?.controls?.periode?.errors?.required">{{'errors.required' | translate }}</small>

                              </div>
                            </div>

                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- #endregion  -->

    <!-- #region produit -->

    <div class="cust-card__body" *ngIf="selectedTabs==='produit'">
      <form class="form" *ngIf="VenteForm" [formGroup]="VenteForm">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" *ngFor="let item of subCategoryVente; let i = index">
            <div class="tracking-list">
              <div class="d-flex justify-content-between align-items-center px-0">
                <div class="cust-input-group">
                  <div class="cust-label">{{ item.label | translate }} :
                  </div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" id="{{ item.label }}" type="text" [formControlName]="item.id">
                      <span class="menu-item" (click)="removeProduit(item)">
                        <div class="icon icon--opaque">
                          <img src="./assets/app/images/Icons/trash-2.svg" alt="Delete icon">
                        </div>
                      </span>
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 text-right py-1">
            <button type="button" (click)="OpenPopUpAdCategorie(categoryVente)"
              class="cust-button cust-button--secondary" placement="bottom" ngbTooltip="{{ 'labels.add' | translate }}">
              {{ 'labels.add' | translate }}
            </button>
            <button type="button" [disabled]="!VenteForm.dirty || VenteForm.invalid" (click)="saveFormVente()"
              class="cust-button cust-button--success" placement="bottom" ngbTooltip="{{ 'labels.save' | translate }}">
              {{ 'labels.save' | translate }}
            </button>
          </div>
        </div>

      </form>
    </div>
    <!-- #endregion  -->

    <!-- #region Achat -->
    <div class="cust-card__body" *ngIf="selectedTabs==='achat'">
      <form class="form" *ngIf="depenseForm" [formGroup]="depenseForm">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" *ngFor="let item of subCategoryDepense; let i = index">
            <div class="tracking-list">
              <div class="d-flex justify-content-between align-items-center px-0">
                <div class="cust-input-group">
                  <div class="cust-label">{{ item.label | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" id="{{ item.label }}" type="text" [formControlName]="item.id">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-right py-1">
            <button type="button" (click)="OpenPopUpAdCategorie(categoryDepense)"
              class="cust-button cust-button--secondary" placement="bottom" ngbTooltip="{{ 'labels.add' | translate }}">
              {{ 'labels.add' | translate }}
            </button>
            <button type="button" [disabled]="!depenseForm.dirty || depenseForm.invalid" (click)="saveFormDepense()"
              class="cust-button cust-button--success" placement="bottom" ngbTooltip="{{ 'labels.save' | translate }}">
              {{ 'labels.save' | translate }}
            </button>
          </div>
        </div>

      </form>
    </div>
    <!-- #endregion -->

    <!-- #region TVA -->
    <div class="cust-card__body" *ngIf="selectedTabs==='tva'">
      <div class="">
        <div class="">
          <div class="">
            <div class="top-content d-flex flex-wrap justify-content-left  align-items-center pb-1 mb-2">
              <div class="tracking-heading-icon mr-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="pb-75">
                <h5 class="tracking-tab-title mb-0 text-bold-600">
                  Liste TVA <button class="btn-icon btn-pure rounded-circle  btn-info" (click)="OpenFromTva()">
                    <i class="ft-plus"></i>
                  </button>
                </h5>
              </div>
            </div>
          </div>
          <div class="content-category border-bottom-blue-grey border-bottom-lighten-5 mb-2">
            <div class="row">
              <div class="col-12 col-xl-7">
                <table class=" table table-bordered">
                  <thead>
                    <tr class="text-left">
                      <th> {{ 'labels.tva' | translate }} </th>
                      <th> {{ 'labels.codeComptable' | translate }}</th>
                      <th>{{ 'labels.actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- List des tva -->
                    <tr *ngFor="let element of TvaList;let i= index">
                      <td>{{element.vatValue }}</td>
                      <td>{{element.code}}</td>
                      <td class="text-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" *ngIf="element.vatValue !==0 "
                            class="btn btn-success btn-sm btn-actions" data-toggle="modal" data-target="#tvaForm"
                            (click)="OpenFromTva(i,element)">
                            <i class="ft-edit"></i>
                          </button>
                          <button type="button" *ngIf="element.tva !== 0" class=" btn btn-danger btn-sm btn-actions"
                            (click)="deleteTva(i)"><i class="ft-trash-2" placement="bottom"
                              ngbTooltip="{{'labels.supprimer' | translate}} {{'labels.tva' | translate}}"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->

  </mat-expansion-panel>
  <!-- #enddocregion basic-panel -->
</mat-accordion>

<br>
<br>
<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel class="disabled-pointer">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comptes bancaires
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-body">
        <app-parametrage-compte></app-parametrage-compte>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br>
<br>
<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel class="disabled-pointer">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Classification dépenses
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-body">
        <app-classification-depense></app-classification-depense>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br>
<br>
<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel class="disabled-pointer">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Classification des ventes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-body">
        <app-classification-vente></app-classification-vente>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!-- Modifier Plan Comptable-->
<div class="modal fade text-left" id="modifierPlanComptable" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel98" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel98">
          <i class="fa fa-credit-card"></i> {{modelName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-6 label-control"> {{ 'labels.codeComptable' | translate }}</label>
            <div class="col-md-6">
              <input type="text" id="codeComptable" class="form-control  text-center"
                placeholder="{{ 'labels.codeComptable' | translate }}" [(ngModel)]="plancomptablecode">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary"
          data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
        <button type="button" class="btn grey  btn-success" (click)="updatePlanComptable()">
          {{ 'labels.sauvegarder' | translate }}</button>

      </div>
    </div>
  </div>
</div>

<!-- ajouter  categorie-->
<div class="modal fade text-left" id="addCategorie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel98"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel98">
          <i class="fa fa-credit-card"></i> {{modelName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-6 label-control"> {{ 'labels.nom' | translate }} </label>
            <div class="col-md-6">
              <input type=" text" id="name" class="form-control  text-center"
                placeholder="{{ 'labels.nom' | translate }}" [(ngModel)]="nameCategorie">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-6 label-control"> {{ 'labels.codeComptable' | translate }}</label>
            <div class="col-md-6">
              <input type=" text" id="codeComptable" class="form-control  text-center"
                placeholder="{{ 'labels.codeComptable' | translate }}" [(ngModel)]="codeCategorie">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary"
          data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
        <button type="button" class="btn grey  btn-success" (click)="addCategorie()">
          {{ 'labels.sauvegarder' | translate }}</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade text-left" id="formTva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h4 class="modal-title">
          <i class="fa fa-plus"></i> {{ ModelNameTva }}
        </h4>
        <button type="button" class="close" (click)="closeFormTva()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-horizontal" [formGroup]="formtva">
          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 label-control">{{'labels.tva' | translate}}</label>
                  <div class="col-md-7">
                    <input type="number" formControlName="valeurtvaup" class="form-control"
                      placeholder="{{'labels.tva' | translate}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 label-control">
                    {{'labels.codeComptable' | translate}}</label>
                  <div class="col-md-7">
                    <input type="number" formControlName="codecomptableup" class="form-control"
                      placeholder="{{'labels.codeComptable' | translate}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary" (click)="closeFormTva()"
          ngbTooltip=" {{'labels.cancel' | translate}}">
          {{'labels.cancel' | translate}} </button>
        <button type="button" (click)="saveFormTva()" class="btn btn-success" placement="bottom"
          ngbTooltip="{{ 'labels.save' | translate }}"> {{ 'labels.save' | translate }} </button>
      </div>
    </div>
  </div>
</div>