<form [formGroup]="form">
  <div class="agenda-form">
    <div class="head">
      <div class="title">
        <input class="input"
          formControlName="title"
          type="text"
          placeholder="Ajouter un titre"
          [readonly]="readOnly">
        <small class="text-danger"
          *ngIf="f?.title?.errors?.required">{{'errors.required' |
          translate }}</small>
      </div>
      <div class="types"
        *ngIf="!readOnly">
        <div class="type type--taches"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Taches }"
          (click)="onTypeClicked(AgendaTypeFilter.Taches)">Tâches</div>
        <div class="type type--rappels"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Rappels }"
          (click)="onTypeClicked(AgendaTypeFilter.Rappels)">Appels</div>
        <div class="type type--evenements"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Evenements }"
          (click)="onTypeClicked(AgendaTypeFilter.Evenements)">Rendez-vous</div>
        <div class="type type--interventionsMaintenance"
          [ngClass]="{ 'active': type === AgendaTypeFilter.InterventionsMaintenance }"
          (click)="onTypeClicked(AgendaTypeFilter.InterventionsMaintenance)"
          *ngIf="!isMission && hasMain">Interventions
          maintenance</div>
        <div class="type type--interventionsChantier"
          [ngClass]="{ 'active': type === AgendaTypeFilter.InterventionsChantier }"
          (click)="onTypeClicked(AgendaTypeFilter.InterventionsChantier)"
          *ngIf="!isMission">Interventions chantier
        </div>
      </div>
      <div class="types"
        *ngIf="readOnly">
        <div class="type type--taches"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Taches }">Tâches</div>
        <div class="type type--rappels"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Rappels }">Appels</div>
        <div class="type type--evenements"
          [ngClass]="{ 'active': type === AgendaTypeFilter.Evenements }">Rendez-vous
        </div>
        <div class="type type--interventionsMaintenance"
          [ngClass]="{ 'active': type === AgendaTypeFilter.InterventionsMaintenance }"
          *ngIf="!isMission && hasMain">Interventions
          maintenance</div>
        <div class="type type--interventionsChantier"
          [ngClass]="{ 'active': type === AgendaTypeFilter.InterventionsChantier }"
          *ngIf="!isMission">Interventions
          chantier</div>
      </div>
      <mat-icon (click)="onClose()"
        class="close">close</mat-icon>
    </div>

    <div class="body"
      [ngSwitch]="type">
      <ng-container *ngSwitchCase="AgendaTypeFilter.Taches">
        <ng-container *ngTemplateOutlet="tachesControls"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="AgendaTypeFilter.Rappels">
        <ng-container *ngTemplateOutlet="rappelsControls"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="AgendaTypeFilter.Evenements">
        <ng-container *ngTemplateOutlet="evenementsControls"></ng-container>
      </ng-container>
    </div>

    <div class="foot"
      *ngIf="!readOnly">
      <button (click)="otherOption()"
        class="otheroption">Autres option </button>
      <button (click)="onValidate()"
        class="validation">Valider</button>
    </div>
  </div>


  <ng-template #rappelsControls>

    <div class="row upper-row">
      <div class="simple-datepicker">
        <input formControlName="date"
          matInput
          [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix
          [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </div>

      <label class="checkbox">
        <input formControlName="allDayLong"
          type="checkbox"
          [readonly]="readOnly">
        <span>Toute la journée</span>
      </label>
    </div>

    <div *ngIf="!f?.allDayLong?.value"
      class="row row--timepicker">
      <div class="col">
        <div class="timepicker">
          <ngb-timepicker [(ngModel)]="time"
            [readonlyInputs]="readOnly"
            [seconds]="false"
            [ngModelOptions]="{standalone: true}"
            [hourStep]="1"
            [minuteStep]="15"> </ngb-timepicker>
        </div>
      </div>
    </div>

    <br>

    <div class="row"
      *ngIf="!f?.allDayLong?.value">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select id="add-dure-form-btn"
                class="cust-input__input"
                formControlName="dure">
                <mat-option *ngFor="let dure of dures"
                  [value]="dure">{{ dure }} </mat-option>
              </mat-select>
            </label>
          </div>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                formControlName="dure"
                disabled>
            </label>
          </div>

        </div>


      </div>
    </div>
    <br>

    <div class="row">
      <div class="col">

        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-label"> Client </div>
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select id="add-client-chantier-form-btn"
                class="cust-input__input"
                (openedChange)="getTelepone(f?.clientId?.value)"
                formControlName="clientId">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterclient($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option class="mat-add"
                  id="add-add-client-form-btn"
                  (click)="addClient()">
                  <span class="colorVert">Nouveau client</span>
                  <img src="./assets/app/imgs/addVert.png"
                    alt="Plus icon">
                </mat-option>
                <mat-option *ngFor="let client of clients"
                  [value]="client.id">{{ client?.reference }} :
                  {{ client?.name }} </mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="type !== AgendaTypeFilter.Taches && f?.clientId?.errors?.required">{{'errors.required' |
          translate }}</small>
        </div>


        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Client </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="clientName"
                disabled>
            </label>
          </div>

        </div>


      </div>
    </div>
    <br>

    <div class="row">

      <div class="col">
        <div class="cust-input-group">
          <div class="cust-label"> Téléphone </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                id="add-telephone-form-btn"
                type="text"
                formControlName="phoneNumber"
                [readonly]="readOnly">

            </label>
          </div>
          <small class="text-danger"
            *ngIf="f?.phoneNumber?.errors?.required">{{'errors.required' |
            translate }}</small>
        </div>
      </div>

    </div>
    <br>

    <div class="row">
      <div class="col">

        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select [placeholder]="'Technicien'"
                formControlName="technicianId"
                id="add-client-technicien-form-btn"
                class="cust-input__input">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterTechnicien($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let technichien of technichiens"
                  [value]="technichien.id">
                  {{ technichien?.lastName + ' ' + technichien?.firstName }}</mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="f?.technicianId?.errors?.required">{{'errors.required' |
          translate }}</small>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Utilisateur </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="techName"
                disabled>
            </label>
          </div>

        </div>

      </div>
    </div>

    <ng-container *ngIf="!isAdd">
      <br>
      <div class="row">
        <!-- Status -->
        <div class="col">
          <div class="cust-input-group">
            <!-- <div class="cust-label">{{ 'labels.status' | translate }} {{ selectedStatus }} </div> -->
            <div class="cust-input cust-input--select cust-input--status"
              [style.color]="getColor(selectedStatus)">
              <label class="cust-input__wrapper">
                <mat-select id="add-status-document-form-btn"
                  *ngIf="status.length !== 0"
                  class="cust-input__input"
                  [panelClass]="'cust-menu--status'"
                  [value]="selectedStatus"
                  (valueChange)="onStatusChanged($event)">
                  <mat-option *ngFor="let stts of status; let i = index"
                    id="add-status-document"
                    [style.color]="getColor(stts)"
                    [value]="stts">{{ stts | translate  }}</mat-option>
                </mat-select>
                <input *ngIf="status.length === 0"
                  class="cust-input__input"
                  id="add-status-document-form-btn"
                  type="text"
                  [value]="selectedStatus | translate"
                  disabled>
              </label>
            </div>
          </div>
        </div>
      </div>

    </ng-container>


    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group">
          <div class="cust-label">{{ 'Description' }} :</div>
          <div class="cust-input cust-input--textarea">
            <label class="cust-input__wrapper">
              <textarea formControlName="object"
                class="cust-input__input"
                [placeholder]="'Descripion de la tâches'"
                [readonly]="readOnly"></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>


  </ng-template>

  <ng-template #tachesControls>

    <div class="row upper-row">
      <div class="simple-datepicker">
        <input readonly
          formControlName="date"
          matInput
          [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix
          [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </div>

      <label class="checkbox">
        <input formControlName="allDayLong"
          type="checkbox">
        <span>Toute la journée</span>
      </label>
    </div>

    <br>

    <div *ngIf="!f?.allDayLong?.value"
      class="row row--timepicker">
      <div class="col">
        <div class="timepicker">
          <ngb-timepicker [readonlyInputs]="readOnly"
            [(ngModel)]="time"
            [seconds]="false"
            [ngModelOptions]="{standalone: true}"
            [hourStep]="1"
            [minuteStep]="15"> </ngb-timepicker>
        </div>
      </div>
    </div>

    <div class="row"
      *ngIf="!f?.allDayLong?.value">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select id="add-dure-form-btn"
                class="cust-input__input"
                formControlName="dure">
                <mat-option *ngFor="let dure of dures"
                  [value]="dure">{{ dure }} </mat-option>
              </mat-select>
            </label>
          </div>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                formControlName="dure"
                disabled>
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">

              <mat-select id="add-client-chantier-form-btn"
                class="cust-input__input"
                [placeholder]="'labels.client' | translate"
                formControlName="clientId">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterclient($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option class="mat-add"
                  id="add-add-client-form-btn"
                  (click)="addClient()">
                  <span>Nouveau client</span>
                  <img src="./assets/app/images/Icons/plus.svg"
                    alt="Plus icon">
                </mat-option>
                <mat-option *ngFor="let client of clients"
                  [value]="client.id">{{ client?.reference }} :
                  {{ client?.name }} </mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="type !== AgendaTypeFilter.Taches && f?.clientId?.errors?.required">{{'errors.required' |
            translate }}</small>
        </div>


        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Client </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="clientName"
                disabled>
            </label>
          </div>

        </div>


      </div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select [placeholder]="'Technicien'"
                formControlName="technicianId"
                id="add-client-technicien-form-btn"
                class="cust-input__input">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterTechnicien($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let technichien of technichiens"
                  [value]="technichien.id">
                  {{ technichien?.lastName + ' ' + technichien?.firstName }}</mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="f?.technicianId?.errors?.required">{{'errors.required' |
          translate }}</small>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Utilisateur </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="techName"
                disabled>
            </label>
          </div>

        </div>


      </div>
    </div>
    <ng-container *ngIf="!isAdd">
      <br>
      <div class="row">
        <!-- Status -->
        <div class="col">
          <div class="cust-input-group">
            <!-- <div class="cust-label">{{ 'labels.status' | translate }}  </div>  -->
            <div class="cust-input cust-input--select cust-input--status"
              [style.color]="getColor(selectedStatus)">
              <label class="cust-input__wrapper">
                <mat-select id="add-status-document-form-btn"
                  *ngIf="status.length !== 0"
                  class="cust-input__input"
                  [panelClass]="'cust-menu--status'"
                  [value]="selectedStatus"
                  (valueChange)="onStatusChanged($event)">
                  <mat-option *ngFor="let stts of status; let i = index"
                    id="add-status-document"
                    [style.color]="getColor(stts)"
                    [value]="stts">{{ stts | translate  }}</mat-option>
                </mat-select>
                <input *ngIf="status.length === 0"
                  class="cust-input__input"
                  id="add-status-document-form-btn"
                  type="text"
                  [value]="selectedStatus | translate"
                  disabled>
              </label>
            </div>
          </div>
        </div>
      </div>

    </ng-container>


    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group">
          <div class="cust-label">{{ 'Description' }} :</div>
          <div class="cust-input cust-input--textarea">
            <label class="cust-input__wrapper">
              <textarea formControlName="object"
                class="cust-input__input"
                [placeholder]="'Descripion de la tâches'"
                [readonly]="readOnly"></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>

  </ng-template>

  <ng-template #evenementsControls>

    <div class="row upper-row">
      <div class="simple-datepicker">
        <input readonly
          formControlName="date"
          matInput
          [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix
          [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </div>

      <label class="checkbox">
        <input formControlName="allDayLong"
          type="checkbox">
        <span>Toute la journée</span>
      </label>
    </div>

    <br>

    <div *ngIf="!f?.allDayLong?.value"
      class="row row--timepicker">
      <div class="col">
        <div class="timepicker">
          <ngb-timepicker [readonlyInputs]="readOnly"
            [(ngModel)]="time"
            [seconds]="false"
            [ngModelOptions]="{standalone: true}"
            [hourStep]="1"
            [minuteStep]="15"> </ngb-timepicker>
        </div>
      </div>
    </div>


    <div class="row"
      *ngIf="!f?.allDayLong?.value">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select id="add-dure-form-btn"
                class="cust-input__input"
                formControlName="dure">
                <mat-option *ngFor="let dure of dures"
                  [value]="dure">{{ dure }} </mat-option>
              </mat-select>
            </label>
          </div>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Durée </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                formControlName="dure"
                disabled>
            </label>
          </div>

        </div>


      </div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">

              <mat-select id="add-client-chantier-form-btn"
                class="cust-input__input"
                [placeholder]="'labels.client' | translate"
                formControlName="clientId">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterclient($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option class="mat-add"
                  id="add-add-client-form-btn"
                  (click)="addClient()">
                  <span>Nouveau client</span>
                  <img src="./assets/app/images/Icons/plus.svg"
                    alt="Plus icon">
                </mat-option>
                <mat-option *ngFor="let client of clients"
                  [value]="client.id">{{ client?.reference }} :
                  {{ client?.name }} </mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="type !== AgendaTypeFilter.Taches && f?.clientId?.errors?.required">{{'errors.required' |
            translate }}</small>
        </div>

        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Client </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="clientName"
                disabled>
            </label>
          </div>

        </div>

      </div>
    </div>
    <br>


    <div class="row">
      <div class="col">
        <div class="cust-input-group"
          *ngIf="!readOnly">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select [placeholder]="'Technicien'"
                formControlName="technicianId"
                id="add-client-technicien-form-btn"
                class="cust-input__input">
                <mat-option>
                  <ngx-mat-select-search ngModel
                    (ngModelChange)="filterTechnicien($event)"
                    placeholderLabel="Rechercher"
                    noEntriesFoundLabel="aucun élément trouvé"
                    [ngModelOptions]="{standalone: true}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let technichien of technichiens"
                  [value]="technichien.id">
                  {{ technichien?.lastName + ' ' + technichien?.firstName }}</mat-option>
              </mat-select>
            </label>
          </div>
          <small class="text-danger"
            *ngIf="f?.technicianId?.errors?.required">{{'errors.required' |
          translate }}</small>
        </div>


        <div class="cust-input-group"
          *ngIf="readOnly">
          <div class="cust-label"> Utilisateur </div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input"
                type="text"
                [value]="techName"
                disabled>
            </label>
          </div>

        </div>

      </div>
    </div>

    <br>
    <ng-container *ngIf="!isAdd">
      <br>
      <div class="row">
        <!-- Status -->
        <div class="col">
          <div class="cust-input-group">
            <!-- <div class="cust-label">{{ 'labels.status' | translate }} </div> -->
            <div class="cust-input cust-input--select cust-input--status"
              [style.color]="getColor(selectedStatus)">
              <label class="cust-input__wrapper">
                <mat-select id="add-status-document-form-btn"
                  *ngIf="status.length !== 0"
                  class="cust-input__input"
                  [panelClass]="'cust-menu--status'"
                  [value]="selectedStatus"
                  (valueChange)="onStatusChanged($event)">
                  <mat-option *ngFor="let stts of status; let i = index"
                    id="add-status-document"
                    [style.color]="getColor(stts)"
                    [value]="stts">{{ stts | translate  }}</mat-option>
                </mat-select>
                <input *ngIf="status.length === 0"
                  class="cust-input__input"
                  id="add-status-document-form-btn"
                  type="text"
                  [value]="selectedStatus | translate"
                  disabled>
              </label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <br>

    <div class="row">
      <div class="col">
        <div class="cust-input-group">
          <div class="cust-label">{{ 'Description' }} :</div>
          <div class="cust-input cust-input--textarea">
            <label class="cust-input__wrapper">
              <textarea formControlName="object"
                class="cust-input__input"
                [placeholder]="'Descripion de la tâches'"
                [readonly]="readOnly"></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>

  </ng-template>

</form>
