<h1 mat-dialog-title class="modal-title">
    {{ 'labels.ajouter' | translate }} {{'labels.equipement' | translate}}
</h1>
<mat-dialog-content>
    <div class="row">
        <div class="col-7" style="overflow: auto;height: 370px;">
            <h4 class="form-section"><i class="ft-list"></i>Liste des gammes de maintenance d'équipement</h4>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button"><i class="ft-search"></i></button>
                </div>
                <input type="text"  [(ngModel)]="search" (input)="searchProduit()" id="searchProduit-listgme-btn" class="form-control"
                    placeholder="{{ 'labels.searchGamme' | translate }}">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let gamme of data;let i = index">
                    <div class="form-inline">
                        <div class="form-group col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="checkElement(gamme?.id)" class="custom-control-input" id="equipmentNamecheck-listgme-btn"
                                    id="{{i+2000*23}}">
                                <label class="custom-control-label" for="{{i+2000*23}}">{{ gamme?.equipmentName}}</label>
                            </div>
                        </div>
                    </div>
                </li>
                <ng-container *ngIf="data.length == 0">
                    <p class="msgEmtyListSelectedVide">{{'labels.msgEmptyTable' | translate}}</p>
                </ng-container>
            </ul>
        </div>
        <div class="col-5" style="overflow: auto;height: 370px;">
            <h4 class="form-section"><i class="ft-list"></i>Éléments sélectionnés </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let gamme of selected;let i = index">
                    <div class="form-inline">
                        <div class="form-group col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="IncheckElement(gamme?.id)" class="custom-control-input" id="equipmentName-listgme-btn"
                                    id="{{i+2000*24}}" checked>
                                <label class="custom-control-label" for="{{i+2000*24}}">{{ gamme?.equipmentName}}</label>
                            </div>
                        </div>
                    </div>
                </li>
                <ng-container *ngIf="selected.length == 0">
                    <p class="msgEmtyListSelectedVide">{{'labels.msgEmtyListSelectedVide' | translate}}</p>
                </ng-container>
            </ul>
        </div>
    </div>

</mat-dialog-content>

<div class="footer">
    <button mat-raised-button mat-dialog-close class="btn grey btn-light float-right"  id="cancel-listgme-btn">
        Annuler
    </button>
    <button type="button" class="btn btn-success float-right" (click)="save()" id="save-listgme-btn">Enregistrer</button>
</div>