.axiobat-modal {
  border-radius: 10px;
}
.flexcontrols {
  display: flex;
  div:last-of-type {
    margin-left: 10px;
  }
}

.btn-sm {
  font-size: 0.875rem !important;
  line-height: 1.5rem !important;
  border-radius: 0.21rem !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.row {
  margin-bottom: 15px;
}

.btn-list {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: center;

  .cust-input-group {
    flex: 1;
    margin-right: 10px;
  }
}

.checkbox {
  margin: 0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid rgb(119, 115, 115);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  // margin: 0 .25em 0 0;
  // padding: 0;
  // vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #38b475;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
  background-color: #38b475;
}

input[type="checkbox"]:focus + label::before {
  outline: #fff auto 5px;
  //    background-color: #fff;
}

::ng-deep {
  .ui-button-primary.ui-splitbutton.ui-buttonset.ui-widget {
    padding: 1px 0;
    .ui-button:first-of-type {
      display: none;
    }
    .ui-button-icon-left.ui-clickable::before {
      content: "\f142";
      font-family: FontAwesome;
    }
  }
}
input#add-cout-horaire-form-btn {
  background-color: #f7fafc;
  border: none;
  height: 9px;
}
select#article-info--category-input {
  background-color: #f7fafc !important;
  border: none !important;
  height: 10px !important;
}

input#add-prixTTC-form-btn {
  background-color: #f7fafc;
  border: none;
  height: 9px;
}
.input-right {
  text-align: right;
}
