<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__body">
                        <div class="body">

                            <div class="row">


                                <div class="col" *ngIf="!isDocSupplier()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.client?.name }} </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="isDocSupplier()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.FOURNISSEUR' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.supplier?.name }} </div>
                                    </div>
                                </div>


                                <div class="col"
                                    *ngIf="data?.operationSheetMaintenance && data?.operationSheetMaintenance !== null">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.FIM' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.operationSheetMaintenance?.reference  }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="data?.contract && data?.contract !== null">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.CONTRAT' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.contract?.reference  }} </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="data?.workshop && data?.workshop !== null">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ data?.workshop?.name  }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DATE_CREATION' | translate }} :</div>
                                        <div class="cust-labelGros">
                                            {{ data?.creationDate    | date: 'dd/MM/yyyy' }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DATE_ECHEANCE' | translate }} :</div>
                                        <div class="cust-labelDate"> {{ data?.dueDate | date: 'dd/MM/yyyy' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
                                        <div class="cust-input cust-input--select cust-input--status"
                                            [style.color]="getColor(selectedStatus)">
                                            <label class="cust-input__wrapper">
                                                <mat-select id="add-status-document-form-btn"
                                                    *ngIf="status.length !== 0" class="cust-input__input"
                                                    [panelClass]="'cust-menu--status'" [value]="selectedStatus"
                                                    (valueChange)="onStatusChanged($event)">
                                                    <mat-option *ngFor="let stts of status; let i = index" (click)="changeStatutDevis()"
                                                        id="add-status-document" [style.color]="getColor(stts)"
                                                        [value]="stts">{{ stts | translate  }}</mat-option>
                                                </mat-select>
                                                <input *ngIf="status.length === 0" class="cust-input__input"
                                                    id="add-status-document-form-btn" type="text"
                                                    [value]="selectedStatus | translate" disabled>
                                            </label>
                                        </div>
                                    </div>
                                </div>

<!-- 
                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                                        <div class="cust-input cust-input--select cust-input--status"
                                            [style.color]="getColor(data?.status)">
                                            <label class="cust-input__wrapper">
                                                <input class="cust-input__input" type="text"
                                                    [value]="data?.status | translate" disabled>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->

                            </div>

                            <div class="row">

                                <div class="col" *ngIf="!isDocSupplier()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.ADRESFACTURATION' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" disabled
                                                    [value]="data?.client?.billingAddress?.designation"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col" *ngIf="isAdresseIntervention()">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.ADRESINTERVENTION' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" disabled
                                                    [value]="data?.addressIntervention?.designation"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.OBJET' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" disabled
                                                    [value]="data?.purpose"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<br>

<div class="root" *ngIf="typeDevis == TypeDevis.Complet && !isDocSupplier() && isInvoiceNone()">
    <div class="row">
        <div class="col">
            <div class="details">

                <div class="row">
                    <div class="col-md-12">
                        <table-article [load]="emitter" [readOnly]="true" [articles]="articles" [document]='data' [isAvoir]="docType === apiUrl.avoir"
                            [isCloture]="factureCloture()" [devis]='isDevis' [ListFactureInDevis]="isDevis?.situations">
                        </table-article>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<div class="root"
    *ngIf="docType == apiUrl.Invoice && (data?.typeInvoice == typeFacture.Acompte || data?.typeInvoice == typeFacture.Situation)">
    <div class="row">
        <div class="col">
            <div class="details">

                <div class="row">
                    <div class="col-md-12">

                        <table-article-situation [retenueGarantieValue]="data?.orderDetails?.holdbackDetails.holdback"
                            [delaiGarantie]="data?.orderDetails?.holdbackDetails.warrantyPeriod" [readOnly]="true"
                            [facture]="data" [devis]="data?.devis">
                        </table-article-situation>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="root" *ngIf="typeDevis == TypeDevis.Minimalist || isDocSupplier()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Articles
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class="row" *ngIf="typeDevis == TypeDevis.Complet && isdetailLot()">

                            <div class="col">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class=" label-control title detailLot"
                                            for="details-devis-detailLot-input" style="font-style: italic;
                                    font-weight: bold;     padding-left: 13px;">{{ 'labels.detailLot' | translate }}
                                            : </label>
                                        <label *ngIf="data?.lotDetails" class="label-control"
                                            style="padding-left: 10px;" for="details-devis-detailLot1-input">Oui</label>
                                        <label *ngIf="!data?.lotDetails" class="label-control"
                                            style="padding-left: 10px;" for="details-devis-detailLot2-input">Non</label>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="row" *ngIf="docType == apiUrl.Invoice && data?.typeInvoice == typeFacture.Acompte">
                            <div class="col-md-12">
                            <table-article-facture-acompte [puc]="data?.orderDetails?.puc"
                                    [retenueGarantieValue]="data?.orderDetails?.holdbackDetails?.holdback"
                                    [delaiGarantie]="data?.orderDetails?.holdbackDetails?.warrantyPeriod"
                                    [partProrata]="data?.orderDetails?.proportion"
                                    [tvaGlobal]="data?.orderDetails?.globalVAT_Value" [articles]="articles"
                                    [readOnly]="true">
                                </table-article-facture-acompte> 

                                <table-article-situation
                                    [retenueGarantieValue]="data?.orderDetails?.holdbackDetails.holdback"
                                    [delaiGarantie]="data?.orderDetails?.holdbackDetails.warrantyPeriod"
                                    [readOnly]="true" [facture]="data" [devis]="data?.devis">
                                </table-article-situation>

                            </div>
                        </div> -->

                        <!-- <div class="row">
                            <div class="col-md-12"
                                *ngIf="docType == apiUrl.Invoice && data?.typeInvoice == typeFacture.Situation">

                                <table-article-situation
                                    [retenueGarantieValue]="data?.orderDetails?.holdbackDetails.holdback"
                                    [delaiGarantie]="data?.orderDetails?.holdbackDetails.warrantyPeriod"
                                    [readOnly]="true" [facture]="data" [devis]="data?.devis">
                                </table-article-situation>
                            </div>
                        </div> -->

                        <div class="row" *ngIf="typeDevis == TypeDevis.Minimalist">
                            <div class="col-md-12">
                                <articles-minimaliste [load]="emitter" [readOnly]="true" [data]="data">
                                </articles-minimaliste>
                            </div>
                        </div>


                        <div class="row" *ngIf="isDocSupplier()">
                            <table-article-depense [readOnly]="true" [articles]="articles"
                                [IdFournisseur]="data?.supplier?.id">
                            </table-article-depense>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="typeDevis == TypeDevis.Complet">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Autre
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="conditionReglementv">{{ 'LABELS.CONDITIONS' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="rich-text-value" [innerHTML]="data?.paymentCondition">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="note">{{ 'LABELS.NOTE' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="rich-text-value" [innerHTML]="data?.note">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="docType === apiUrl.Depense && data?.cancellationDocument != null">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{ 'LABELS.avoirDocument' | translate }}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class=" row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput39">{{
                                      'LABELS.avoirDocument' | translate
                                    }} : </label>
                                    <div class="col-md-9"
                                        *ngFor="let piece of data?.cancellationDocument.attachments  ;let j = index">
                                        <label class="dropzone label-control " for="orignalName">{{ piece?.fileName }}
                                        </label> <i class="ft-download" style="padding-bottom: 0px !important;"
                                            (click)="downloadPieceJointe(piece)"> </i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput3">{{
                                      'LABELS.COMMENTAIRE' | translate
                                    }} : </label>
                                    <div class="col-md-9">
                                        <input type="text" value="{{ data?.cancellationDocument?.comment }}" id="ccc"
                                            class="form-control" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="docType === apiUrl.Depense">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Joindre justificatif
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <tr>
                                        <th>{{'labels.nom' | translate}}</th>
                                        <th style="text-align: center !important;">{{'labels.action' | translate}}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let pieceJointe of data?.attachments;let index= index">
                                        <td style="line-height: 40px;">
                                            <a (click)="downloadPieceJointe(pieceJointe)">
                                                {{ pieceJointe?.fileName }}</a>
                                        </td>
                                        <td style="text-align: center !important; line-height: 40px;">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary btn-md btn-actions"
                                                    placement="bottom"
                                                    ngbTooltip="{{ 'LABELS.downloadFile' | translate }}"
                                                    (click)="downloadPieceJointe(pieceJointe)">
                                                    <i class="ft-download"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="depense?.attachments?.length == 0">
                                        <td colspan="2" class="text-center">
                                            {{'noDataAvaible' | translate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="root" *ngIf="data?.associatedDocuments?.length !== 0">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'labels.documentAssocie' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <ng-container *ngIf="data?.associatedDocuments?.length > 0">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ 'labels.type' | translate }}</th>
                                            <th>{{ 'labels.reference' | translate }}</th>
                                            <th>{{ 'labels.dateCreation' | translate }}</th>
                                            <th>{{ 'labels.statut' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data?.associatedDocuments; let index = index"
                                            style="background-color: white;" (click)="goToDetails(index)">
                                            <td>{{getDocument(item)}} </td>
                                            <td>{{item?.reference}}</td>
                                            <td>{{item?.creationDate | date:'dd/MM/yyyy'}}</td>
                                            <td> <span
                                                    [style.color]="getColor(item?.status)">{{item?.status | translate }}</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<custom-loader [displayLoader]="processing"></custom-loader>