.modal {
  background-color: #0000007a;

  .modal-dialog {
    max-width: 550px !important;
  }

  .modal-content {
    border: none;
  }

  .cust-card {
    &__head {
      .right {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
