<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title" *ngIf="isModif() && document">
                                {{  'update.' + docType | translate }} : {{ document?.reference }}
                            </div>
                            <div class="title" *ngIf="!isModif()">
                                {{  'create.' + docType | translate }}
                            </div>
                        </div>

                        <div class="right flexcontrols">
                            <div class="flexcontrols">

                                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                                    <span> Annuler </span>
                                </div>

                                <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                                    <span>Valider</span>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="cust-card__body">
                        <div class="body">
                            <form [formGroup]="form">

                                <div class="row">

                                    <!-- REFERENCE -->
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ isClient() ? ( 'LABELS.codeclient' | translate ) : ('LABELS.REFERENCE'  | translate) }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-chantier-form-btn"
                                                        type="text" formControlName="reference">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.unique' | translate }}</small>
                                            <small class="text-danger"
                                                *ngIf="f?.reference?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>



                                    <div class="col" *ngIf="isClient()">
                                        <div class="cust-input-group">
                                            <div class="cust-label"> {{ 'labels.typeClient' | translate }} </div>
                                            <div class="cust-input cust-input--date">
                                                <label class="cust-input__wrapper">
                                                    <mat-select class="cust-input__input" formControlName="type">
                                                        <mat-option [value]="clientType.Particular">Particulier
                                                        </mat-option>
                                                        <mat-option [value]="clientType.Professional">Professionnel
                                                        </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.type?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.NOM' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-firstName-form-btn"
                                                        (input)="generateCodeComptable()" id="firstName" type="text"
                                                        formControlName="firstName">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.firstName?.errors?.required">{{'errors.required' | translate }}</small>
                                            <small class="text-danger"
                                                *ngIf="f?.firstName?.errors?.minlength">{{'errors.minLength' | translate:{number:2} }}</small>

                                        </div>
                                    </div>

                                    <div class="col" *ngIf="f?.type.value == clientType.Particular && isClient()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.LASTNAME' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-lastName-form-btn"
                                                        id="lastName" type="text" formControlName="lastName">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.lastName?.errors?.required">{{'errors.required' | translate }}</small>
                                            <small class="text-danger"
                                                *ngIf="f?.lastName?.errors?.minlength">{{'errors.minLength' | translate:{number:2} }}</small>


                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isFournisseur()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.tvaIntraCommunautaire' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-intraCommunityVAT-form-btn"
                                                        id="intraCommunityVAT" type="text"
                                                        formControlName="intraCommunityVAT">
                                                </label>
                                            </div>
                                            <small class="text-danger" *ngIf="f?.intraCommunityVAT?.errors?.pattern">
                                                {{'errors.pattern' | translate}} </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.PHONE_NUMBER' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-phoneNumber-form-btn"
                                                        id="phoneNumber" type="text" formControlName="phoneNumber">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.phoneNumber?.errors?.minlength">{{'errors.minLength' | translate:{number:10} }}</small><br>
                                            <small class="text-danger" *ngIf="f?.phoneNumber?.errors?.pattern">
                                                {{'errors.pattern' | translate}}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.EMAIL' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-email-form-btn" id="email"
                                                        type="text" formControlName="email">
                                                </label>
                                            </div>
                                            <small class="text-danger" *ngIf="f?.email?.errors?.pattern">
                                                {{'errors.pattern' | translate}}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.ACCOUNTING_CODE' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-ACCOUNTING_CODE-form-btn"
                                                        id="ACCOUNTING_CODE" type="text"
                                                        formControlName="accountingCode">
                                                </label>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="cust-input-group"
                                            *ngIf="f?.type.value != clientType.Particular  || isFournisseur()">
                                            <div class="cust-label">
                                                {{ 'LABELS.siteWeb' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-website-form-btn"
                                                        id="website" type="text" formControlName="website">
                                                </label>
                                            </div>
                                            <small class="text-danger" *ngIf="f?.website?.errors?.pattern">
                                                {{'errors.pattern' | translate}}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group"
                                            *ngIf="f?.type.value != clientType.Particular  || isFournisseur()">
                                            <div class="cust-label">
                                                {{ 'LABELS.FAX' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-landLine-form-btn"
                                                        id="landLine" type="text" formControlName="landLine">
                                                </label>
                                            </div>
                                            <small class="text-danger" *ngIf="f?.landLine?.errors?.pattern">
                                                {{'errors.pattern' | translate}}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group"
                                            *ngIf="f?.type.value != clientType.Particular  || isFournisseur()">
                                            <div class="cust-label">
                                                {{ 'LABELS.siret' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-siret-form-btn" id="siret"
                                                        type="text" formControlName="siret">
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col" *ngIf="f?.type.value != clientType.Particular && isClient()">
                                        <div class="cust-input-group">
                                            <div class="cust-label"> {{ 'LABELS.GROUPE' | translate }} </div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select class="cust-input__input" formControlName="groupeId">
                                                        <mat-option *ngFor="let item of groupes;let i = index"
                                                            [value]="item.id">{{item.name}}
                                                        </mat-option>

                                                    </mat-select>
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.type?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="cust-input-group"
                                            *ngIf="f?.type.value != clientType.Particular && !isFournisseur()">
                                            <div class="cust-label">
                                                {{ 'LABELS.tvaIntraCommunautaire' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-intraCommunityVAT-form-btn"
                                                        id="intraCommunityVAT" type="text"
                                                        formControlName="intraCommunityVAT">
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<br>



<div class="root" *ngIf="isFournisseur()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Adresse
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">
                        <div class="body">

                            <form [formGroup]="form">

                                <div class="row">

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.ADRESSE' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-street-form-btn"
                                                        id="street" type="text" formControlName="street">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.street?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.Complement' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-complement-form-btn"
                                                        id="complement" type="text" formControlName="complement">
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.City' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-city-form-btn" id="city"
                                                        type="text" formControlName="city">
                                                </label>
                                            </div>
                                            <small class="text-danger" *ngIf="f?.city?.errors?.required">{{'errors.required' | translate
                                    }}</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.codePostal' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-postalCode-form-btn"
                                                        id="postalCode" type="text" formControlName="postalCode">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.postalCode?.errors?.invalidNumber">{{'labels.invalidNumber' | translate}}</small>
                                            <small class="text-danger" *ngIf="f?.postalCode?.errors?.required">{{'errors.required' | translate
                                    }}</small>

                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.departement' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-departement-form-btn"
                                                        id="departement" type="text" formControlName="department">
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">
                                                {{ 'LABELS.pays' | translate  }}
                                                :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-countryCode-form-btn"
                                                        id="countryCode" type="text" formControlName="countryCode">
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<div class="root" *ngIf="isClient()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Adresses
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">
                        <list-address [addresses]="adresses" (remove)="removeAdresse($event)"
                            (listContacts)="getListAdresses($event)" [show]="true" [hideAddBtn]="adresses?.length == 1">
                        </list-address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Contacts
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">
                        <liste-contacts [contacts]="contacts" (remove)="removeContact($event)"
                            (listContacts)="getListContacts($event)" [show]="true"></liste-contacts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="paymentCondition">{{ 'LABELS.CONDITIONS' | translate }}</label>
                                    <div class="col-md-12">
                                        <app-input-textarea id="paymentCondition" [controlParent]="form"
                                            [readOnly]="false" [controlName]="'paymentCondition'"
                                            [placeholder]="'LABELS.CONDITIONS' | translate"
                                            [label]="'LABELS.CONDITIONS' | translate">
                                        </app-input-textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="note">{{ 'LABELS.NOTE' | translate }}</label>
                                    <div class="col-md-12">
                                        <app-input-textarea id="note" [controlParent]="form" [readOnly]="false"
                                            [controlName]="'note'" [placeholder]="'LABELS.NOTE' | translate"
                                            [label]="'LABELS.NOTE' | translate">
                                        </app-input-textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>