.axiobat-modal {
  border-radius: 10px;
}
.flexcontrols {
  display: flex;
  div:last-of-type {
    margin-left: 10px;
  }
}

.rich-text-value {
  border: 1px #f7f7f7 solid;
  padding: 1.5rem 1rem;
  min-height: 5rem;
  background-color: #f7f7f7;
}

.root2 {
  .head {
    margin-bottom: 35px;

    @media screen and (max-width: 1199px) {
      .col-xl-4.col-lg-12,
      .col-lg-12.col-xl-6 {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 991px) {
      .col-xl-4.col-lg-6,
      .col-lg-4.col-md-6,
      .col-md-12.col-lg-4,
      .col-md-12.col-lg-6 {
        margin-top: 30px;
      }
    }

    .cust-card {
      &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
      }

      &--1,
      &--2,
      &--3 {
        font-family: qanelas;

        height: 100%;
        min-height: 116px;

        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          height: 100%;

          .top {
            font-size: 19px;

            .title {
              text-align: left;
              letter-spacing: 0px;
              font-weight: bold;

              color: #494948;
            }
          }

          .bottom {
            font-size: 13px;
            font-weight: 400;

            .chip {
              &--heure {
                font-family: normal normal bold 27px/22px Qanelas;
                color: #05658d;
                opacity: 1;
                font-size: 22px;
                font-weight: bold;
                text-align: left;
                width: 65px;
                height: 33px;
                font-family: normal normal bold 27px/22px Qanelas;
                letter-spacing: 0px;
              }
              &--encours,
              &--planned {
                color: #feb969;
                margin-right: 25px;
              }

              &--termine,
              &--realised {
                color: #38b475;
              }
            }
          }
        }

        .right {
          .chip {
            &--heure {
              font-family: normal normal bold 27px/22px Qanelas;
              color: #05658d;
              opacity: 1;
              font-size: 22px;
              font-weight: bold;
              text-align: left;
              width: 65px;
              height: 33px;
              font-family: normal normal bold 27px/22px Qanelas;
              letter-spacing: 0px;
            }
            &--text-heure,
            &--text-montant {
              //   color: #feb969;
              //   margin-right: 25px;
              font-size: 11px;
              letter-spacing: 0px;
              color: #8898aa;
              opacity: 1;
              text-align: right;
            }

            &--montant {
              color: #38b475;
              font-size: 27px;
              font-family: Qanelas;
              font-weight: bold;
              text-align: left;
              width: 130px;
              height: 33px;
            }
          }
        }
      }

      &--2 {
        .cust-card__body {
          padding: 13px 20px;
        }

        .leftn {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          height: 70%;
          width: 100%;
          .top {
            font-size: 19px;

            .title {
              text-align: left;
              letter-spacing: 0px;
              font-weight: bold;

              color: #494948;
            }
          }

          .bottom {
            font-size: 13px;
            font-weight: 400;

            .chip {
              &--heure {
                font-family: normal normal bold 27px/22px Qanelas;
                color: #05658d;
                opacity: 1;
                font-size: 22px;
                font-weight: bold;
                text-align: left;
                width: 65px;
                height: 33px;
                font-family: normal normal bold 27px/22px Qanelas;
                letter-spacing: 0px;
              }
              &--encours,
              &--planned {
                color: #feb969;
                margin-right: 25px;
              }

              &--termine,
              &--realised {
                color: #38b475;
              }
            }
          }
        }

        .right {
          .icon {
            background-color: #05658d;
          }
        }
      }
    }
  }

  .info-bundle {
    display: inline-flex;
    flex-direction: column;

    .label {
      text-align: left;
      letter-spacing: 0px;
      font-weight: bold;

      color: #494948;
    }

    .value {
      font-family: qanelas;
      font-size: 19px;
      font-weight: bold;
      text-align: left;
      letter-spacing: 0px;

      small {
        font-size: 13px;
        font-weight: bold;

        margin-left: -4px;
      }
    }
  }
}
