<div class="chantier-folder">
    <!-- <div class="open-folder" *ngIf="showActions == chantier?.id">
        <button class="btn btn-md" [routerLink]="['./portes',chantier?.id]">Ouvrez {{ chantier?.id }}</button>
    </div> -->

    <div class="chantie-statut" [ngClass]="{'statut-EnEtude':(chantier?.status == statutChantier.EnEtude),
    'statut-Accepte': chantier?.status == statutChantier.Accepte,
    'statut-Termine':chantier?.status == statutChantier.Termine,
    'statut-NonAccepte':chantier?.status == statutChantier.NonAcceptee}">
        <span>{{ getLabelleByStatut(chantier.status) }}</span>
    </div>

    <div class="chantier-name">{{ chantier.name }}</div>
    <div class="btn-group" role="group" aria-label="Basic example"
        [ngStyle]="{'margin-left':deleteAction ? '4rem' : '5rem' }" *ngIf="showActions == chantier?.id">
        <button type="button" id="afficher-folder-btn" class="btn btn-md btn-actions" [routerLink]="['./detail',chantier?.id]" placement="bottom"
            ngbTooltip="{{'labels.afficher' | translate}} {{'labels.chantier' | translate}}"><i
                class="ft-eye"></i></button>
        <button type="button" class="btn btn-md btn-actions" (click)="edit()" placement="bottom"  id="modifier-folder-btn" 
            ngbTooltip="{{'labels.modifier' | translate}} {{'labels.chantier' | translate}}"><i
                class="ft-edit"></i></button>
        <ng-container *ngIf="deleteAction">
            <button type="button" class="btn btn-md btn-actions" id="delete-folder-btn"  (click)="delete()"><i class="ft-trash-2"
                    placement="bottom"
                    ngbTooltip="{{'labels.supprimer' | translate}} {{'labels.chantier' | translate}}"></i></button>
        </ng-container>

    </div>
</div>