<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__body">
            <div class="body">

              <div class="row">


                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.reference' | translate }} :</div>
                    <div class="cust-labelGros"> {{produit?.reference }} </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.designation' | translate }} :</div>
                    <div class="cust-labelGros"> {{produit?.designation}}</div>
                  </div>
                </div>


                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.Categorie' | translate }} :</div>
                    <div class="cust-labelGros"> {{ produit?.category?.label  }}
                    </div>
                  </div>
                </div>

                <!-- <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.type' | translate }} :</div>
                    <div class="cust-labelGros"> {{ produit?.productCategoryType?.label  }} </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.Unite' | translate }} :</div>
                    <div class="cust-labelGros"> {{ produit?.unite  }} </div>
                  </div>
                </div> -->




              </div>

              <div class="row">
                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.type' | translate }} :</div>
                    <div class="cust-labelGros"> {{ produit?.productCategoryType?.label  }} </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.Unite' | translate }} :</div>
                    <div class="cust-labelGros"> {{ produit?.unite  }} </div>
                  </div>
                </div>
                <div class="col">
                  <div class="cust-input-group">
                  </div>
                </div>



              </div>

              <div class="row">


                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.nombre_heure' | translate }} :</div>
                    <div class="cust-labelGros">
                      {{ produit?.totalHours | RoudingNumber }} </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.cout_horaire' | translate }} :</div>
                    <div class="cust-labelDate"> {{ calculate_cout_horaire() | RoudingNumber | ShowCurrency }}
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.cout_materiel' | translate }} :</div>
                    <div class="cust-labelDate"> {{ produit?.materialCost | RoudingNumber | ShowCurrency }}
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.Tva' | translate }} :</div>
                    <div class="cust-labelDate"> {{ produit?.vat +'%' }}
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.TotalHt' | translate }} :</div>
                    <div class="cust-labelDate"> {{  TotalHt()| RoudingNumber | ShowCurrency }}
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'labels.prixTTC' | translate }} :</div>
                    <div class="cust-labelDate">
                      {{prixTtc(produit?.materialCost ,produit?.vat)| RoudingNumber | ShowCurrency }}
                    </div>
                  </div>
                </div>


              </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="col-md-12 label-control"
                              for="note">{{ 'labels.description' | translate }}</label>
                          <div class="col-md-12">
                              <div class="rich-text-value" [innerHTML]="produit?.description">
                              </div>
                          </div>
                      </div>
                  </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<br>



<br>
<ng-container *ngIf="produit?.productSuppliers?.length > 0">

  <div class="root">
    <div class="row">
      <div class="col">
        <div class="details">
          <div class="cust-card cust-card--padding">

            <div class="cust-card__head">

              <div class="left">
                <div class="title">
                  {{ 'PrixParFournisseur.title' | translate }}
                </div>
              </div>

            </div>


            <div class="cust-card__body">
              <fournisseur-card  [ListPrixParFournisseur]="produit?.productSuppliers" [readOnly]="true">
              </fournisseur-card>
<!-- 
              <prix-par-fournisseur [PrixParFournisseur]="produit?.productSuppliers" [readOnly]="true">
              </prix-par-fournisseur> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<br>


<ng-container *ngIf="allTagsList?.length > 0">

  <div class="root">
    <div class="row">
      <div class="col">
        <div class="details">
          <div class="cust-card cust-card--padding">

            <div class="cust-card__head">

              <div class="left">
                <div class="title">
                  {{ 'tags.title' | translate }}
                </div>
              </div>

            </div>


            <div class="cust-card__body">
              <ino-tags [newTags]="allTagsList" [readOnly]="false" [load]="[]"></ino-tags>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<br>