// label {
//   line-height: 35px;
// }

.modal-dialog {
  margin: 0 !important;
  padding: 0 !important;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 3px;
}

mat-dialog-content.mat-dialog-content {
  width: 100%;
  margin: 0;
}

h1.modal-title.mat-dialog-title {
  color: white;
  background: #00bcd4;
  text-align: center !important;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.27rem;
  border-top-right-radius: 0.27rem;
}
mat-dialog-content.mat-dialog-content {
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #98a4b8;
  color: white;
  background: #ffffff;
  margin: 0 !important;
  //  padding: 0.3rem 0.5rem !important;
}

.row {
  width: 100%;
  padding: 0px 0px 0px 0px;
  height: 335px;
  padding-left: 44px;
}

.col-5 {
  border-left: 1px solid #babfc7;
}

// .form-section {
//   i {
//     font-size: 20px;
//     margin-left: 5px;
//     margin-right: 10px;
//   }
//   line-height: 3rem;
//   margin-bottom: 20px;
//   color: #065cb3;
//   border-bottom: 1px solid #065cb3;
//   font-family: montserrat;
//   font-size: 16px;
//   font-weight: 500;
// }

label.custom-control-label {
  margin-top: -8px;
}

.msgEmtyListSelectedVide {
  text-align: center;
  padding-top: 14px;
}
.table th,
.table td {
  border-bottom: 0.75px solid #e6e5e5 !important;
  border-top: 0px solid #e6e5e5 !important;
}
.table tbody + tbody {
  border: none !important;
}

.text-purple {
  color: #e91e63 !important;
  // padding: 12px 8px;
  vertical-align: middle;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.firt-div {
  display: block;
  line-height: normal;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.jBmls,
.oKubKe {
  font-family: inherit;
}

.Y9xwie,
.EtqQ2e,
.Z4G5xd {
  margin-right: 8px;
}

.UYUfn {
  line-height: normal;
}

.tOrNgd,
.TNczib,
.PbnGhe,
.UYUfn,
.whsOnd,
.AxOyFc,
.ndJi5d,
.K0Y8Se,
.dEOOab,
.ovnfwe,
.KHxj8b,
.fqp6hd,
.F1pOBe,
.v6odTb,
.S1BUyf,
.YElZX,
.VOEIyf,
.VOEIyf .jBmls,
.oKubKe {
  font-family: inherit;
}

.yDmH0d > * {
  pointer-events: auto;
}

.Y9xwie,
.EtqQ2e,
.Z4G5xd {
  margin-right: 8px;
}

.UYUfn {
  line-height: normal;
}

.gx0Krc {
  width: 60px;
}

.Kb2sf {
  //-webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  outline: none;
  //width: 200px;
  background-color: #f1f3f4;
  //-webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  cursor: default;
}

.xlxsj {
  display: block;
  height: 36px;
  position: relative;
  vertical-align: top;
}

.kw5sif {
  //  display: -webkit-box;
  // display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  // box-flex: 1;
  // -webkit-flex-grow: 1;
  flex-grow: 1;
  ///-webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0%;
  position: relative;
}
.gx0Krc input,
.Hk6Zjc input {
  text-align: center;
}

.WpDZC {
  -webkit-box-flex: 1;
  //box-flex: 1;
  //-webkit-flex-grow: 1;
  flex-grow: 1;
  //-webkit-flex-shrink: 1;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0);
  color: #3c4043;
  border: none;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin: 0;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
}

input {
  direction: ltr;
  unicode-bidi: isolate;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  //color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  // display: inline-block;
  //text-align: start;
  -webkit-appearance: textfield;
  // background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
  // margin: 0em;
  font: 400 13.3333px Arial;
  // padding: 1px 0px;
  // border-width: 2px;
  // border-style: inset;
  // border-color: initial;
  // border-image: initial;
}

button,
select {
  text-transform: none;
  background: transparent;
  border: none;
  /* text-align: right; */
}

.yH57yd {
  // display: -webkit-box;
  // display: -webkit-flex;
  display: flex;
  // -webkit-align-items: center;
  align-items: center;
}

.y5BXK {
  padding: 8px 0;
}
.mVuQpd {
  // display: -webkit-box;
  //display: -webkit-flex;
  display: flex;
  position: relative;
  top: 6px;
}

.WnqCuf {
  background-color: #dadce0;
  bottom: -2px;
  display: none;
  height: 1px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
.DSC0Mc {
  // -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #4285f4;
  bottom: 0;
  height: 2px;
  left: -8px;
  right: -8px;
  margin: 0;
  padding: 0;
  position: absolute;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wOWxX {
  display: none;
  position: relative;
}

.qCTOIe {
  opacity: 0.3;
}

.qCTOIe {
  pointer-events: none;
}

.cvUi3d {
  position: absolute;
  top: 4px;
  left: -8px;
  max-width: 300px;
  color: #fff;
  background-color: #3c4043;
  // -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  padding: 8px;
  //-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.cvUi3d {
  -webkit-tap-highlight-color: transparent;
  // -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 12px;
  min-height: 16px;
}
.jZ0DTb {
  display: inline-block;
  vertical-align: top;
  background-color: #f1f3f4;
  // -webkit-border-radius: 4px;
  border-radius: 4px;
}

.GfgKp {
  display: block;
  height: 36px;
}
.jgvuAb {
  //-webkit-user-select: none;
  // -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border: 0;
  //-webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  //display: inline-block;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.jgvuAb {
  //-webkit-user-select: none;
  // -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border: 0;
  // -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.ry3kXd .MocG8c.KKjvXb {
  height: auto;
  padding-bottom: 8px;
  padding-top: 8px;
}
// .ry3kXd {
//   height: auto;
//   padding-bottom: 8px;
//   padding-top: 8px;
//   display: flex;
//   align-items: center;
// }
.moisDate {
  height: auto;

  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.jZ0DTb .LMgvRb {
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jgvuAb .LMgvRb {
  font-size: 14px;
  // font-weight: 400;
}

.MocG8c {
  border-color: transparent;
  color: #222;
  //height: 0;
  list-style: none;
  outline: none;
  //overflow: hidden;
  // padding-left: 16px;
  padding-right: 24px;
  position: relative;
  text-align: left;
  //  white-space: nowrap;
}

.jgvuAb .kRoyt {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(153, 153, 153, 0.4),
    rgba(153, 153, 153, 0.4) 80%,
    rgba(153, 153, 153, 0) 100%
  );
}

.kRoyt {
  // -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  //-webkit-transition: -webkit-transform 0 linear .2s,opacity .2s ease;
  //transition: -webkit-transform 0 linear .2s,opacity .2s ease;
  //  -webkit-transition: transform 0 linear .2s,opacity .2s ease;
  // transition: transform 0 linear .2s,opacity .2s ease;
  // -webkit-background-size: cover;
  background-size: cover;
  //left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  // top: 0;
  visibility: hidden;
}

.vRMGwf {
  position: relative;
}

.jZ0DTb .LMgvRb {
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jgvuAb .LMgvRb {
  font-size: 14px;
  // font-weight: 400;
}

.Ulgu9 .MocG8c:not(.KKjvXb) {
  width: 0;
  border: 0;
  margin: 0;
  position: relative;
  opacity: 0.0001;
  padding: 0;
  top: -99999px;
  pointer-events: none;
}

.jZ0DTb .LMgvRb {
  font-weight: 400;
  // padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MocG8c {
  // border-color: transparent;
  color: #222;
  height: 0;
  list-style: none;
  outline: none;
  //overflow: hidden;
  // padding-left: 16px;
  // padding-right: 24px;
  // position: relative;
  text-align: left;
  // white-space: nowrap;
}
.jgvuAb .kRoyt {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(153, 153, 153, 0.4),
    rgba(153, 153, 153, 0.4) 80%,
    rgba(153, 153, 153, 0) 100%
  );
}

.kRoyt {
  //-webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  //-webkit-transition: -webkit-transform 0 linear .2s,opacity .2s ease;
  //transition: -webkit-transform 0 linear .2s,opacity .2s ease;
  //-webkit-transition: transform 0 linear .2s,opacity .2s ease;
  // transition: transform 0 linear .2s,opacity .2s ease;
  //-webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}
.PXOizf [jsslot] {
  overflow: visible;
}

.PXOizf {
  overflow: visible;
}

.vRMGwf {
  position: relative;
}
.Ulgu9 .MocG8c:not(.KKjvXb) {
  pointer-events: none;
}

.jZ0DTb .LMgvRb {
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jZ0DTb .LMgvRb {
  font-weight: 400;
  //padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Ulgu9 .MocG8c:not(.KKjvXb) {
  width: 0;
  border: 0;
  margin: 0;
  position: relative;
  opacity: 0.0001;
  padding: 0;
  top: -99999px;
  pointer-events: none;
}

.jZ0DTb .LMgvRb {
  font-weight: 400;
  // padding-left: 8px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// se termine
.Sb3EDe {
  min-height: 40px;
  //  display: -webkit-box;
  //  display: -webkit-flex;
  display: flex;
  // -webkit-align-items: center;
  align-items: center;
}

.BHE4Yb {
  //  display: -webkit-box;
  //  display: -webkit-flex;
  display: flex;
  // -webkit-align-items: center;
  align-items: center;
  height: 44px;
}

.zJKIV {
  //-webkit-user-select: none;
  // -webkit-transition: border-color .2s cubic-bezier(0.4,0,0.2,1);
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
  // -webkit-border-radius: 3px;
  border-radius: 3px;
  //-webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  outline: none;
  position: relative;
  vertical-align: middle;
  width: 20px;
  z-index: 0;
}

.BHE4Yb .MbhUzd {
  background-color: rgba(26, 115, 232, 0.2);
}

.k5cvGe {
  // -webkit-transform: scale(3);
  transform: scale(3);
  //-webkit-transition: opacity .15s ease;
  transition: opacity 0.15s ease;
  //  background-color: rgba(0,0,0,0.2);
  //-webkit-border-radius: 100%;
  border-radius: 100%;
  height: 20px;
  left: 0;
  opacity: 0;
  outline: 0.1px solid transparent;
  pointer-events: none;
  position: absolute;
  width: 20px;
  z-index: -1;
}

[aria-checked="true"] > .SCWude {
  -webkit-animation: quantumWizPaperAnimateSelectIn 0.2s 0.1s forwards;
  animation: quantumWizPaperAnimateSelectIn 0.2s 0.1s forwards;
}

.SCWude {
  // -webkit-animation: quantumWizPaperAnimateSelectOut .2s forwards;
  // animation: quantumWizPaperAnimateSelectOut .2s forwards;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.BHE4Yb .Id5V1,
.BHE4Yb .nQOrEb {
  border-color: #1a73e8;
}

.t5nRo {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  //-webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px;
  // border-color: rgba(0,0,0,0.54);
}

[aria-checked="true"] .wEIpqb {
  //-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.wEIpqb {
  position: absolute;
  top: 50%;
  left: 50%;
  // -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #009688;
  // -webkit-transition: -webkit-transform ease .28s;
  // transition: -webkit-transform ease .28s;
  // -webkit-transition: transform ease .28s;
  transition: transform ease 0.28s;
  //-webkit-transform: translateX(-50%) translateY(-50%) scale(0);
  // transform: translateX(-50%) translateY(-50%) scale(0);
}

.UYUfn {
  //-webkit-box-flex: 2;
  // box-flex: 2;
  // -webkit-flex-grow: 2;
  flex-grow: 2;
  //-webkit-flex-shrink: 2;
  flex-shrink: 2;
  //font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  // line-height: 20px;
  display: block;
  outline: none;
  overflow-y: auto;
  padding: 0 24px;
}
::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}
.SCWude {
  //-webkit-animation: quantumWizPaperAnimateSelectOut .2s forwards;
  animation: quantumWizPaperAnimateSelectOut 0.2s forwards;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.BHE4Yb .Id5V1,
.BHE4Yb .nQOrEb {
  border-color: #1a73e8;
}

.t5nRo {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  //  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px;
  //border-color: rgba(0,0,0,0.54);
}

.f2YWAb,
.ptvTdd {
  width: 92px;
}

.pQdjpb.shor6 .nXeosb {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 0;
}

.QGLPie {
  min-width: 50px;
  //  max-width: 100%;
}
.gHQcAb {
  margin: 8px 0;
  background: #fff;
  //  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  // -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
  z-index: 3;
  position: fixed;
  display: none;
}

.pQdjpb .RxsGPe {
  top: unset;
  bottom: 40px;
  min-width: 80px;
}

.cPMh0b {
  width: 250px;
  height: auto;
}

.q1j8lf {
  padding: 0 14px 16px 19px;
  // -webkit-user-select: none;
  position: relative;
}

body.geSgge .MSZkRb {
  height: 32px;
}

.MSZkRb {
  // height: 32px;
  font-size: 12px;
  font-weight: 400;
  color: #3c4043;
  // display: -webkit-box;
  //display: -webkit-flex;
  display: flex;
  // -webkit-align-items: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 3px;
}

.MSZkRb .r4nke {
  -webkit-box-flex: 1;
  // box-flex: 1;
  // -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 5px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: #3c4043;
}

.rF3YF.Vp20je,
.rF3YF.Vp20je > .TpQm9d {
  height: 24px;
  width: 24px;
}

.j7k8V {
  margin-right: 6px;
}

.rF3YF {
  color: #5f6368;
  fill: #5f6368;
}
.HkPXyb {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

body.geSgge .RWvJ9d {
  height: 24px;
}

[role="columnheader"],
[role="rowheader"],
[role="gridcell"] {
  outline: none;
}

.SoBqBf,
.OWyNBb {
  display: table-cell;
  font-size: 10px;
  font-weight: 500;
  vertical-align: middle;
  color: #70757a;
}

.HkPXyb {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.Kb2sf.nXeosb.QGLPie.nXeosb.t4IwDf.RDPZE.CDELXb {
  margin-top: 16px;
  margin-left: 71px;
  /* height: 56px; */
}
.GY2CZb {
  //@extend: -webkit-box;
  // display: -webkit-flex;
  display: flex;
  //-webkit-align-items: center;
  align-items: center;
  padding-right: 16px;
  background-color: #f1f3f4;
  //  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 41px;
  margin-left: 69px;
}

.Hk6Zjc {
  width: 60px;
}

.gx0Krc input,
.Hk6Zjc input {
  text-align: center;
}

.M2lnFe {
  margin-left: 8px;
}
.wOWxX {
  display: none;
  position: relative;
}

//semaine add
.IuSHYd.N2RpBe {
  color: white;
  background-color: #1a73e8;
}
.day-checkBox {
  margin-right: 10px;
  margin-bottom: 5px;
  //border: 1px solid #8a98a4;
  cursor: pointer;
  width: 91px;
  height: 47px;
  text-align: center;
  line-height: 45px;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #f1f3f4;
  color: #1e2e3d;
  margin-right: 8px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  border-radius: 50%;
}
.row-day-checkBox {
  margin: 0px 10px 21px 1vw;
}
.day-checkBox-selected {
  border: 1px solid #1a73e8;
  background-color: #1a73e8;
  color: #fff;
}
.day-checkBox-inselected {
  display: inline-flex;

  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #f1f3f4;
  color: #1e2e3d;
  margin-right: 8px;
  cursor: pointer;
  border: none;
}

.IuSHYd {
  // display: -webkit-inline-box;
  // display: -webkit-inline-flex;
  display: inline-flex;
  //-webkit-align-items: stretch;
  align-items: stretch;
  // -webkit-justify-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 10px;
  font-weight: 500;
  //  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f1f3f4;
  color: #80868b;
  margin-right: 8px;
  cursor: pointer;
}

.IuSHYd.N2RpBe:not(.RDPZE) .dobRbb {
  border: 1px solid #1a73e8;
}

.dobRbb {
  //display: -webkit-inline-box;
  //display: -webkit-inline-flex;
  display: inline-flex;
  //-webkit-align-items: stretch;
  align-items: stretch;
  //-webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex: 1;
  // box-flex: 1;
  //  -webkit-flex-grow: 1;
  flex-grow: 1;
  // -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dobRbb.SBZfUd {
  //-webkit-align-items: center;
  align-items: center;
}
.mat-form-field-empty.mat-form-field-label {
  color: green !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  //  background-color: transparent !important;
}

.mat-dialog-actions {
  padding-right: 17px;
  border-top: 0.75px solid #00bcd4;
}

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: white;
        border-radius: 50%;
        border: 1px solid #1a73e8;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #1a73e8;
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #1a73e8;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.container {
  max-width: 720px;
  margin-top: 146px;
  margin-left: -29px;
}

.radio {
  margin-bottom: 27px;
}
mat-dialog-content.mat-dialog-content {
  height: 74%;
}

.btn-light {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}
