.container-fluid {
  margin-top: 20px;
}

.mr-1,
.mx-1 {
  margin-right: 0.5rem !important;
}

.row.no-left-padding {
  margin-left: 0;
}

.nested-table {
  width: 100%;
}

.table {
  border: none;
  border-collapse: collapse;
  border-radius: 10px;

  font-family: Raleway;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

  overflow: hidden;
  width: 100%;

  .icon {
    img {
      cursor: pointer;
      margin-right: 5px;
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: #f7fafc;
      }
    }
  }
}

td {
  border: 0px;
  width: 50%;
  margin: 0 !important;
  padding: 5px 0 5px 25px !important;

  &.title {
    padding: 5px 0 5px 25px !important;
  }
}

thead tr {
  top: 356px;
  left: 133px;
  width: 1164px;
  height: 40px;
  background: #f1f3f9 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;

  &:first-of-type {
    border-bottom: 1px solid #cecece;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;

  margin: 0;
  padding: 0;

  color: #000;
  width: 8.33%;

  font-family: qanelas;
  font-size: 13px;
  font-weight: 100;
  text-align: center;
}

.circle {
  color: #8898aa;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 7px;
}

.liclass {
  color: #8898aa;
}

td.periodicite {
  // padding: 0 !important;
}

.periodicite ul {
  padding: 0 !important;
}

td.periodicite ul li {
  text-align: center;
  color: #000;
  height: 38px;
  padding-top: 0.6rem;
  font-size: 15px;
}

tr.lot td {
  padding: 5px 0 5px 25px !important;
  height: 35px;
  line-height: 25px;
}

tr.lot td:nth-child(2) {
  padding: 0px 0px 0px 25px !important;
  ul {
    li {
      padding: 10px 0px;
    }
  }
}

button.btn.btn-danger.btn-sm {
  padding: 0px 5px;
}

.btn-group-custom > button {
  padding: 8px 10px 4px 10px;
}

.btn-sm-action {
  width: 75px;
  height: 35px;
  margin: 0px 2px;
  line-height: 10px !important;
  font-size: 12px !important;
  font-family: sans-serif !important;
  border: 1px #93989e solid;
  color: white;
  padding: 0 !important;
}

.input-sm {
  margin: 0px 15px;
  height: 35px;
  width: 400px;
  border-width: 0px;
  border: none;
}

.btn-sm {
  padding: 5px 12px !important;
}

.btn-edit {
  top: 446px;
  left: 571px;
  width: 32px;
  height: 31px;
  background: #38b475 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.ft-check {
  top: 454px;
  left: 727px;
  width: 14px;
  height: 14px;
  box-shadow: 0px 3px 6px #2c28281c;
  border-radius: 2px;
  opacity: 1;
}

.checkgreen {
  border: 1px solid #38b475;
}

.checkred {
  border: 1px solid #f14f63;
}

.ft-x {
  top: 454px;
  left: 772px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--unnamed-color-f14f63);
  border: 1px solid #f14f63;
  border-radius: 2px;
  opacity: 1;
}

.GrasName {
  top: 454px;
  left: 164px;
  width: 51px;
  height: 15px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-494948);
  text-align: left;
  font: normal normal bold 13px/15px Raleway;
  letter-spacing: 0px;
  color: #494948;
  opacity: 1;
}

.menuicon {
  width: 15px;
  // top: 458px;
  // left: 145px;
  // width: 10px;
  // height: 6px;
}

.title {
  left: 5px;
  width: 65px;
  height: 15px;
  text-align: left;
  font: normal normal medium 13px/13px Raleway;
  letter-spacing: 0px;
  color: #8898aa;
  opacity: 1;
}

.point {
  top: 558px;
  left: 167px;
  width: 6px;
  height: 6px;
  background: var(--unnamed-color-8898aa) 0% 0% no-repeat padding-box;
  background: #8898aa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.a {
  list-style-type: circle;
}

// .menuoperation {
// top: 558px;
// left: 145px;
// width: 10px;
// height: 6px;
// opacity: 0.7;
// }
