<div class="category-list">
  <div class="list">
    <div *ngFor="let category of data; let i = index;" class="category">
      <div class="content-category-list">
        <div class="label">{{ category.label }} <span *ngIf="category.chartAccountItem"> -
            {{ category.chartAccountItem.code }} </span></div>
        <div class="value">{{ category.description }}</div>
      </div>
      <div class="controls">
        <p-button icon="pi pi-trash" (onClick)="onDelete($event, i)" styleClass="ui-button-success mx-1"></p-button>
        <p-button icon="pi pi-pencil" (onClick)="onUpdate($event,i)" styleClass="ui-button-success"></p-button>
      </div>
    </div>
  </div>
</div>