.classification {
    .list {
        margin: 0 0 20px 0;
        padding: 0;

        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;

        transition-duration: 0.3s;
        transition-property: background-color;

        .item {
            color: var(--color-secondary);

            .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                background-color: #f7f7f7;
                padding: 10px 10px 11px 10px;

                .content {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-left: 0px;
                }

                .controls {
                    * {
                        margin-left: 10px;
                    }
                }
            }

            .body {
                .content {
                    margin-left: 0px;
                }
            }

        }
    }

    button {
        border: none;
        font-weight: normal !important;
        font-size: 12px;
    }
}

section {
    margin-bottom: 50px;

    &.foot {
        border-top: 1px solid #e4e4e4;

        margin: 0;
        padding: 15px 0 5px 0;
    }
}

.btn-valider,
.btn-add {
    margin-left: 10px;
}

.dialog-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.custom-input {
    margin-bottom: 10px;
}

select {
    height: 34px !important;
    margin-right: 20px;
}

input { line-height: 25px;}