input#add-password-form-btn {
  border: none;
}
button.btn.btn-primary.ng-star-inserted {
  margin-right: -17px;
  /* padding-top: 8px; */
}
.cust-input__wrapper {
  padding: 0px;
  padding-left: 10px;
}
