.root {
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #1717172d;

  min-height: 92px;
  padding: 15px;

  .body {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .right {
        display: flex;
        align-items: center;

        .icon-btn {
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          opacity: 0.8;

          transition-property: opacity;
          transition-duration: 0.2s;

          &:hover {
            opacity: 1;
          }

          &:not(:last-of-type) {
            margin-right: 10px;
          }

          img {
            width: 18px;
          }

          &--add {
            color: #38b475;

            mat-icon {
              font-size: 26px;
              margin-top: -2px;
            }
          }

          &--remove {
            color: #f44336;

            mat-icon {
              font-size: 24px;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 10px;

      input {
        background-color: white;
        border: none;
        border-radius: 4px;

        font-family: Qanelas;
        font-size: 13px;

        max-width: 100px;
        padding: 5px 8px;

        &:focus {
          outline-color: #9c9c9c;
        }
      }

      mat-select {
        background: white;
        padding: 5px 8px;
        border-radius: 4px;

        &::ng-deep {
          .mat-select-value {
            max-width: 100% !important;
          }
        }
      }
    }
  }
}

.info-bundle {
  display: inline-flex;
  flex-direction: column;

  .label {
    font-family: raleway;
    font-size: 10px;
    letter-spacing: 0px;
    text-align: left;

    color: #8898aa;
  }

  .value {
    font-family: qanelas;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;

    color: #8d9cad;

    &--positive {
      color: #38b475;
    }

    &--negative {
      color: #f53c56;
    }

    &--constant {
      color: #05658d;
    }

    &--neutral {
      color: #494948;
    }

    small {
      font-size: 13px;
      font-weight: bold;

      margin-left: -4px;
    }
  }
}

.fournisseur-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  margin-top: 10px;

  .fournisseur-card {
    &__edit {
    }

    &__display {
    }

    &__add {
    }

    input:checked {
      & + .fournisseur-card__edit {
        display: block !important;
      }

      & + .fournisseur-card__display {
        display: none !important;
      }
    }

    input:not(:checked) {
      & + .fournisseur-card__edit {
        display: none !important;
      }

      & + .fournisseur-card__display {
        display: block !important;
      }
    }
  }
}
