.no-data-available {
  text-align: center;
}

.modal-header {
  background-color: #1b9db3 !important;
}

/*  css table**/
.dataTables_filter .form-control-sm {
  border-radius: 0px;
  padding: 16px;
  //background: $gray-dark url(../../assets/images/search.png) no-repeat scroll 3px 5px;
  border-color: #d3d1d2 !important;
  z-index: 0;
  padding-left: 30px;
}
.table thead th {
  font-family: "Jura", sans-serif;
}
.table td {
  ul {
    margin: 0px !important;
    padding: 0px 13px !important;
  }

  ul li {
    line-height: 1.3 !important;
  }
}
.table tbody + tbody {
  border-top: none !important;
}
table.dataTable {
  border-collapse: collapse !important;
}
.table-white-space {
  th,
  td {
    white-space: nowrap;
  }
}

.table-borderless {
  td,
  th {
    border: none;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: none;
  color: #929091;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #98a4b8;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}
.table-bordered {
  th,
  td {
    border: none;
  }
}
.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #e9e9e9;
  }
}

.table-bordered {
  border: none;
}

.table-inverse {
  color: #eceeef;
  // background-color: #00A5A8;
}

.table {
  &.table-column {
    th,
    td {
      border-bottom: none;
      border-left: 1px solid #e3ebf3;
    }
    th:first-child,
    td:first-child {
      border-left: 1px solid #e3ebf3;
    }
  }
  th,
  td {
    padding: 0.75rem 2rem;
  }
  &.table-xl {
    th,
    td {
      padding: 1.25rem 2rem;
    }
  }
  &.table-lg {
    th,
    td {
      padding: 0.9rem 2rem;
    }
  }
  &.table-de {
    th,
    td {
      padding: 0.75rem 2rem;
    }
  }
  &.table-sm {
    th,
    td {
      padding: 0.6rem 2rem;
    }
  }
  &.table-xs {
    th,
    td {
      padding: 0.4rem 2rem;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #929091 !important;
  font-family: "Jura", sans-serif !important;
}
.dataTables_info {
  color: #929091;
}

.table tbody + tbody {
  border-top: none !important;
}
table.dataTable {
  border-collapse: collapse !important;
}
