<choix-chantier-popup [id]="'choixChantier'" [chantiers]="chantiers" (onSearch)="choisirChantier($event)">
</choix-chantier-popup>

<div class="modal fade text-left" id="factureGroupee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel9">
          <i class="fa fa-list"></i> {{ 'labels.listFichesIntervention' | translate }}
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary" type="button"><i class="ft-search"></i></button>
            </div>
            <input type="text" [(ngModel)]="search" (input)="searchFT()" class="form-control">
          </div>

          <div class="text-center font-weight-bold font-italic"
            *ngIf="ficheInterventionUnselected.length == 0 && fichesIntervention.length == 0">
            <br>
            {{ 'factureGroupe.empty' | translate }}
          </div>

          <div class="container-scroll" *ngIf="fichesIntervention.length > 0 || ficheInterventionUnselected.length > 0">

            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
              [infiniteScrollContainer]="'.container-scroll'" [fromRoot]="true" (scrolled)="onScroll()">

              <ul class="list-group list-group-flush">

                <!-- Liste des ft sélectionnés -->
                <li class="list-group-item" *ngFor="let ficheIntervention of fichesIntervention;let i = index">
                  <div class="form-inline">
                    <div class="form-group col-md-12">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" (change)="removeFicheIntervention(i)" class="custom-control-input"
                          id="{{i+1000*30}}" checked>
                        <label class="custom-control-label" for="{{i+1000*30}}"
                          style="font-weight: bold;">{{ ficheIntervention?.reference}} -
                          {{ 'labels.dateDebut' | translate }} :
                          {{ ficheIntervention?.startDate | date:'dd/MM/yyyy HH:mm' }}</label>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- Liste des ft ne sont pas sélectionnés -->
                <li class="list-group-item" *ngFor="let ficheIntervention of ficheInterventionUnselected;let i = index">
                  <div class="form-inline">
                    <div class="form-group col-md-12">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" (change)="addFicheIntervention(i)" class="custom-control-input"
                          id="{{i+1000*38}}">
                        <label class="custom-control-label" for="{{i+1000*38}}" style="font-weight: bold;">
                          {{ ficheIntervention?.reference}} -
                          {{ 'labels.dateDebut' | translate }} :
                          {{ ficheIntervention?.startDate | date:'dd/MM/yyyy HH:mm' }}
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>

            </div>

            <div class="text-center" *ngIf="!finished">
              {{ 'labels.loading' | translate }}
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn grey btn-light" data-dismiss="modal">{{ 'labels.cancel' |translate }}
        </button>
        <button type="button" class="btn btn-success btn-lg"
          (click)="savefiche()">{{ 'labels.sauvegarder' | translate }}</button>
      </div>

    </div>
  </div>
</div>